<!-- Booking Header -->
<div class="card booking-header border-0">
  <div class="card-body header-content d-flex align-items-center justify-content-between flex-wrap">
    <div>
      <h6 class="mb-1">Bookings</h6>
      <!-- <p class="fs-14 text-gray-6 fw-normal">No of Booking : 150</p> -->
    </div>

    <div class="d-flex align-items-center flex-wrap">
      <app-date-range-picker />
    </div>
  </div>
</div>
<!-- /Booking Header -->

<!-- Hotel-Booking List -->
<div class="card hotel-list">
  <div class="card-body p-0">
    <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
      <h6 class="">Booking List</h6>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start me-2 position-relative">
          <span class="icon-addon">
            <i class="isax isax-search-normal-1 fs-14"></i>
          </span>
          <input [(ngModel)]="searchValue" [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchFunction(searchValue)" type="search" class="form-control form-control-sm"
            placeholder="Search" />
        </div>

        <div class="dropdown me-3">
          <a href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown" aria-expanded="false">
            Vendor: {{ selectedVendorName || 'All' }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onVendorChange('')">All</a>
            </li>
            <li *ngFor="let user of users">
              <a href="javascript:void(0);" class="dropdown-item" (click)="onVendorChange(user.id)">
                {{ user.name }}
              </a>
            </li>
          </ul>
        </div>

        <!-- Property Filter Dropdown -->
        <div class="dropdown me-3">
          <a href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown" aria-expanded="false">
            Property: {{ selectedPropertyName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onPropertyChange('')">All</a>
            </li>
            <li *ngFor="let property of properties">
              <a href="javascript:void(0);" class="dropdown-item" (click)="onPropertyChange(property.id)">
                {{ property.name }}
              </a>
            </li>
          </ul>
        </div>

        <!-- prop TYPE Dropdown -->
        <div class="dropdown me-3">
          <a href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown" aria-expanded="false">
            Type:
            {{
            selectedPropertyType === "TRANSPORTATION"
            ? "Transportation"
            : selectedPropertyType === "ACCOMODATION"
            ? "Accommodation"
            : selectedPropertyType === "BACK_WATERS"
            ? "Boat Cruise"
            : selectedPropertyType === "SPECIAL_EVENTS"
            ? "Special Events"
            : "All"
            }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onTypeChange('')">All</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item"
                (click)="onTypeChange('TRANSPORTATION')">Transportation</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item"
                (click)="onTypeChange('ACCOMODATION')">Accommodation</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onTypeChange('BACK_WATERS')">Boat Cruise</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onTypeChange('SPECIAL_EVENTS')">Special
                Events</a>
            </li>
          </ul>
        </div>

        <!-- STATUS Dropdown -->
        <div class="dropdown me-3">
          <a href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown" aria-expanded="false">
            Status: {{ selectedStatus || "All" }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('')">All</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('PENDING')">Pending</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('CONFIRMED')">Confirmed</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('CHECKED_IN')">Checked In</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('COMPLETED')">Completed</a>
            </li>
            <li>
              <a href="javascript:void(0);" class="dropdown-item" (click)="onStatusChange('CANCELED')">Canceled</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hotel List -->
    <div class="custom-datatable-filter table-responsive">
      <table matSort (matSortChange)="sortData($event)" class="table datatable">
        <thead class="thead-light">
          <tr>
            <th mat-sort-header="id">Type</th>
            <th mat-sort-header="hotel">Name</th>
            <th mat-sort-header="booked">Variant</th>
            <th mat-sort-header="room">User</th>
            <th mat-sort-header="days">Phone</th>
            <th mat-sort-header="start">Start Date</th>

            <th mat-sort-header="date">End Date</th>
            <th mat-sort-header="units">Units</th>
<th mat-sort-header="status" style="width: 180px;">Status</th>
            <!-- <th mat-sort-header="action"></th> -->
          </tr>
        </thead>
        <tbody>
          @for (data of bookings; track data; let i = $index) {
          <tr>
            <td>
              <a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal"
                data-bs-target="#upcoming">{{ data.property.propertyType }}</a>
            </td>
            <td>
              <div>
                <p class="text-dark mb-0 fw-medium fs-14">
                  <a [routerLink]="routes.hotelDetails">{{
                    data.property.name
                    }}</a>
                </p>
                <span class="fs-14 fw-normal text-gray-6">{{
                  data.hotelLocation
                  }}</span>
              </div>
            </td>
            <td>
              <h6 class="fs-14 mb-1">{{ data.variant.name }}s</h6>
              <!-- <span class="fs-14 fw-normal text-gray-6">{{
                data.user.name
              }}</span> -->
            </td>
            <td>
              <h6 class="fs-14 mb-1">{{ data.user.name }}</h6>
              <!-- <span class="fs-14 fw-normal text-gray-6">{{ data.guest }}</span> -->
            </td>
            <td>{{ data.user.phone }}</td>
            <td>{{ data.startDate }}</td>
            <td>{{ data.endDate }}</td>
            <td>{{ data.unitsBooked }}</td>

            <!-- <td>
              <span
                class="badge rounded-pill d-inline-flex align-items-center fs-10"
                [ngClass]="
                  data.status === 'PENDING'
                    ? 'badge-secondary'
                    : data.status === 'CONFIRMED'
                    ? 'badge-info'
                    : data.status === 'CHECKED_IN'
                    ? 'badge-primary'
                    : data.status === 'COMPLETED'
                    ? 'badge-success'
                    : data.status === 'CANCELED'
                    ? 'badge-danger'
                    : ''
                "
              >
                <i class="fa-solid fa-circle fs-5 me-1"></i>
                {{ data.status }}
              </span>
            </td> -->

            <!-- <td>
              <select class="form-select form-select-sm" [(ngModel)]="data.status" (change)="onStatusChange(data)">
                <option value="PENDING">PENDING</option>
                <option value="CONFIRMED">CONFIRMED</option>
                <option value="CHECKED_IN">CHECKED IN</option>
                <option value="COMPLETED">COMPLETED</option>
                <option value="CANCELED">CANCELED</option>
              </select>
            </td> -->

<td>
           <mat-form-field appearance="outline" class="status-select">
  <mat-select [(ngModel)]="data.status" (selectionChange)="onBookingStatusChange(data, $event.value)"
    placeholder="Select status">
    <mat-option value="PENDING">PENDING</mat-option>
    <mat-option value="CONFIRMED">CONFIRMED</mat-option>
    <mat-option value="CHECKED_IN">CHECKED IN</mat-option>
    <mat-option value="COMPLETED">COMPLETED</mat-option>
    <mat-option value="CANCELED">CANCELED</mat-option>
  </mat-select>
</mat-form-field>
    </td>













            <!-- <td>
              <div class="d-flex align-items-center">
                <a href="javascript:void(0);" data-bs-toggle="modal" [attr.data-bs-target]="
                    data.property.propertyType === 'ACCOMODATION' ||
                    data.property.propertyType === 'BACK_WATERS' ||
                    data.property.propertyType === 'SPECIAL_EVENTS'
                      ? '#accomodation'
                      : data.property.propertyType === 'TRANSPORTATION'
                      ? '#transport'
                      : ''
                  " (click)="viewBooking(data.id)"><i class="isax isax-eye"></i></a>
              </div>
            </td> -->
          </tr>
          } @if (bookings.length === 0) {
          <tr>
            <td colspan="10">
              <h5 style="text-align: center">No data found</h5>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- /Hotel List -->
  </div>
</div>
<!-- /Hotel-Booking List -->

<!-- Pagination -->
<div class="col-md-12">
  <!-- Pagination -->
  <nav class="pagination-nav" *ngIf="totalPages > 1">
    <ul class="pagination justify-content-center">
      <!-- Previous -->
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" href="javascript:void(0);" (click)="changePage(page - 1)">
          <i class="fa-solid fa-chevron-left"></i>
        </a>
      </li>

      <!-- Page Numbers -->
      <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" [class.active]="page === i + 1">
        <a class="page-link" href="javascript:void(0);" (click)="changePage(i + 1)">
          {{ i + 1 }}
        </a>
      </li>

      <!-- Next -->
      <li class="page-item" [class.disabled]="page === totalPages">
        <a class="page-link" href="javascript:void(0);" (click)="changePage(page + 1)">
          <i class="fa-solid fa-chevron-right"></i>
        </a>
      </li>
    </ul>
  </nav>

  <!-- /Pagination -->
</div><!-- /Pagination -->

<!-- transport Modal -->
<div class="modal fade" id="transport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          Booking Info
          <span class="fs-14 fw-medium text-primary">#HB-1245</span>
        </h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
      </div>
      <div class="modal-body">
        <div class="upcoming-content">
          <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
            <div class="d-flex align-items-center flex-wrap">
              <div class="me-2">
                <img src="assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded" />
              </div>
              <div>
                <h6 class="mb-1">The Luxe Haven</h6>
                <div class="title-list">
                  <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal">
                    <i class="isax isax-building me-2"></i>Luxury Hotel
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal">
                    <i class="isax isax-location5 me-2"></i>15/C Prince Dareen
                    Road, New York
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 fw-normal">
                    <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)
                  </p>
                </div>
              </div>
            </div>
            <div>
              <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i
                  class="fa-solid fa-circle fs-5 me-1"></i>Upcoming</span>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Room Details</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Room Type</h6>
                <p class="text-gray-6 fs-16">Queen Room</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Rooms</h6>
                <p class="text-gray-6 fs-16">1</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Room Price</h6>
                <p class="text-gray-6 fs-16">$400</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Guests</h6>
                <p class="text-gray-6 fs-16">4 Adults, 2 Child</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Booking Info</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Booked On</h6>
                <p class="text-gray-6 fs-16">15 May 2024</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Check In Date & Time</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Checkout Date & Time</h6>
                <p class="text-gray-6 fs-16">25 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Days Stay</h6>
                <p class="text-gray-6 fs-16">4 Days, 5 Nights</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Extra Service Info</h6>
            <div class="d-flex align-items-center">
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Billing Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Name</h6>
                <p class="text-gray-6 fs-16">Chris Foxy</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Email</h6>
                <p class="text-gray-6 fs-16">chrfo2356&#64;example.com</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Phone</h6>
                <p class="text-gray-6 fs-16">+1 12656 26654</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Address</h6>
                <p class="text-gray-6 fs-16">
                  15/C Prince Dareen Road, New York
                </p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Order Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Order Id</h6>
                <p class="text-primary fs-16">#45669</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Method</h6>
                <p class="text-gray-6 fs-16">Credit Card (Visa)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Status</h6>
                <p class="text-success fs-16">Paid</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Date of Payment</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Tax</h6>
                <p class="text-gray-6 fs-16">15% ($60)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Discount</h6>
                <p class="text-gray-6 fs-16">20% ($15)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Booking Fees</h6>
                <p class="text-gray-6 fs-16">$25</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Total Paid</h6>
                <p class="text-gray-6 fs-16">$6569</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" class="btn btn-md btn-primary" data-bs-toggle="modal"
          data-bs-target="#cancel-booking">Cancel Booking</a>
      </div>
    </div>
  </div>
</div>
<!-- /transport Modal -->

<!-- accomodation Modal -->
<div class="modal fade" id="accomodation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          Booking Info
          <span class="fs-14 fw-medium text-primary"></span>
        </h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
      </div>
      <div class="modal-body">
        <div class="upcoming-content">
          <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
            <div class="d-flex align-items-center flex-wrap">
              <div class="me-2">
                <img src="assets/img/hotels/hotel-13.jpg" alt="image" class="avatar avartar-md avatar-rounded" />
              </div>
              <div>
                <h6 class="mb-1">{{viewBookings?.property?.name || 'Property Name'}}</h6>

                <div class="title-list">
                  <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal">
                    <i class="isax isax-building me-2"></i>Luxury Hotel
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal">
                    <i class="isax isax-location5 me-2"></i>15/C Prince Dareen
                    Road, New York
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 fw-normal">
                    <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)
                  </p>
                </div>
              </div>
            </div>
            <div>
              <span class="badge rounded-pill d-inline-flex align-items-center fs-10" [ngClass]="{
      'badge-secondary': viewBookings?.status === 'PENDING',
      'badge-info': viewBookings?.status === 'CONFIRMED',
      'badge-primary': viewBookings?.status === 'CHECKED_IN',
      'badge-success': viewBookings?.status === 'COMPLETED',
      'badge-danger': viewBookings?.status === 'CANCELED'
    }">
                <i class="fa-solid fa-circle fs-5 me-1"></i>
                {{ viewBookings?.status || 'OTHER' }}
              </span>
            </div>

          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Room Details</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Room Type</h6>
                <p class="text-gray-6 fs-16">Queen Room</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Rooms</h6>
                <p class="text-gray-6 fs-16">1</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Room Price</h6>
                <p class="text-gray-6 fs-16">$400</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Guests</h6>
                <p class="text-gray-6 fs-16">4 Adults, 2 Child</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Booking Info</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Booked On</h6>
                <p class="text-gray-6 fs-16">15 May 2024</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Check In Date & Time</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Checkout Date & Time</h6>
                <p class="text-gray-6 fs-16">25 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Days Stay</h6>
                <p class="text-gray-6 fs-16">4 Days, 5 Nights</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Extra Service Info</h6>
            <div class="d-flex align-items-center">
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Cleaning</span>
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Airport Pickup</span>
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14">Breakfast</span>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Billing Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Name</h6>
                <p class="text-gray-6 fs-16">Chris Foxy</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Email</h6>
                <p class="text-gray-6 fs-16">chrfo2356&#64;example.com</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Phone</h6>
                <p class="text-gray-6 fs-16">+1 12656 26654</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Address</h6>
                <p class="text-gray-6 fs-16">
                  15/C Prince Dareen Road, New York
                </p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Order Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Order Id</h6>
                <p class="text-primary fs-16">#45669</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Method</h6>
                <p class="text-gray-6 fs-16">Credit Card (Visa)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Status</h6>
                <p class="text-success fs-16">Paid</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Date of Payment</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Tax</h6>
                <p class="text-gray-6 fs-16">15% ($60)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Discount</h6>
                <p class="text-gray-6 fs-16">20% ($15)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Booking Fees</h6>
                <p class="text-gray-6 fs-16">$25</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Total Paid</h6>
                <p class="text-gray-6 fs-16">$6569</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <a [routerLink]="routes.hotelDetails" class="btn btn-md btn-primary"
          >Book Again</a
        >
      </div> -->
    </div>
  </div>
</div>
<!-- /accomodation Modal -->

<!-- Booking Cancel -->
<div class="modal fade" id="cancel-booking">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5">
        <form>
          <div class="text-center">
            <div class="mb-4">
              <i class="isax isax-location-cross5 text-danger fs-40"></i>
            </div>
            <h5 class="mb-2">Are you sure you want to cancel booking?</h5>
            <p class="mb-4 text-gray-9">
              Order ID : <span class="text-primary">#HB-1245</span>
            </p>
          </div>
          <div class="mb-4">
            <label class="form-label">Reason <span class="text-danger">*</span></label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">No, Dont Cancel</a>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
              Yes, Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Booking Cancel -->