/*============================
  27.header-five
============================*/

.header-five{
    margin-top: 20px;
    &.fixed{
        margin: 0;
    }
    .header__hamburger {
        .sidebar-menu {
            color: $gray-900;
        }
    }
    .header-nav{
        background: $white;
        padding: 20px;
        border-radius: 10px;
        .main-menu-wrapper{
            padding: 0;
            .main-nav{
                > li{
                   > a{
                        color: $gray-900;
                        i{
                            color: $gray-500;
                        }
                    }
                }
            }
        }
    }
    .header-btn{
        a{
            color: $gray-900;
            font-size: 13px;
        }
        .btn{
            font-size: 13px;
        }
        .fav-dropdown,.cart-dropdown {
            display: none;
        }
    }
}