    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-02 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Privcy Policy</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <!-- Privacy Policy -->
            <p>
                At Travel DreamsTour, your privacy is important to us. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our website and services.
            </p>

            <!-- Policy 1 -->
            <h6 class="mb-2">1. Information We Collect</h6>
            <div class="mb-4">
                <div class="d-flex mb-1">
                    <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                    <p>
                        Personal Information: We collect personal information that you provide to us, such as your name, email address, phone number, mailing address, payment information, and travel preferences.
                    </p>
                </div>
                <div class="d-flex">
                    <span class="me-2"><i class="ti ti-square-rotated-filled text-primary"></i></span>
                    <p>
                        Non-Personal Information: We also collect non-personal information automatically, such as your IP address, browser type, device information, and usage patterns through cookies and analytics tools.
                    </p>
                </div>
            </div>
            <!-- /Policy 1 -->

            <!-- Policy 2 -->
            <h6 class="mb-2">2. How We Use Your Information</h6>
            <div class="mb-4">
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> To process your bookings and payments.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> To communicate with you regarding your reservations and inquiries.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> To personalize your experience and provide customer support.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> To send promotional materials, newsletters, and special offers (you can opt out at any time).
                </p>
                <p>
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> To analyze usage trends and improve our services.
                </p>
            </div>
            <!-- /Policy 2 -->

            <!-- Policy 3 -->
            <h6 class="mb-2">3. Sharing Your Information</h6>
            <p class="mb-1">We may share your information with:</p>
            <div class="mb-4">
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Service Providers: Third-party partners, such as airlines, hotels, and car rental companies, to fulfill your bookings.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets, your information may be transferred.
                </p>
                <p>
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Legal Compliance: When required by law or to protect our rights or the rights of others.
                </p>
            </div>
            <!-- /Policy 3 -->

            <!-- Policy 4 -->
            <h6 class="mb-2">4. Data Security</h6>
            <p class="mb-4">
                We take appropriate measures to protect your personal information from unauthorized access, use, or disclosure. This includes using encryption, secure servers, and firewalls.
            </p>
            <!-- /Policy 4 -->

            <!-- Policy 5 -->
            <h6 class="mb-2">5. Your Rights</h6>
            <p class="mb-1">You have the right to:</p>
            <div>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Access the personal information we hold about you.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Request corrections to your personal information.
                </p>
                <p class="mb-1">
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Request the deletion of your personal information, subject to legal obligations.
                </p>
                <p>
                    <i class="ti ti-square-rotated-filled text-primary me-2"></i> Opt-out of marketing communications at any time.
                </p>
            </div>
            <!-- /Policy 5 -->

            <!-- /Privacy Policy -->
        </div>
    </div>
    <!-- /Page Wrapper -->