    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Pricing Plan</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Pricing Plan</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="header-section text-center mb-4">
                        <h2 class="mb-2">Choose Your Perfect Travel Package</h2>
                        <p>Choose flexible one-time, monthly, or annual travel plans for uninterrupted access to exclusive deals on flights, hotels, and tours</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="place-nav pricing-plan-tab">
                    <div class="nav justify-content-center">
                        <div class="tab-btn d-flex align-items-center">
                            <div>
                                <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#pricing-list-01">
									Monthly
								</a>
                            </div>
                            <div>
                                <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#pricing-list-02">
									Yearly
								</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">

                    <!-- Pricing Plan List -->
                    <div class="tab-pane fade active show" id="pricing-list-01">
                        <div class="row">
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <h4>Basic Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">For casual travelers who just need simple bookings.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$99 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Flight, hotel, car bookings</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Basic search filters</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Email support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Weekday support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>General deals access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Itinerary tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Travel updates</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Save recent searches</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0 bg-light-400">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 pricing-header d-flex align-items-center justify-content-between">
                                                <h4 class="text-truncate">Explorer Plan</h4>
                                                <span class="rounded-pill">Recommended</span>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Ideal for travelers seeking deals and convenience.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$199 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-primary d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Basic</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Advanced filters</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority email & chat support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Early sale access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Fare tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Itinerary tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Price alerts</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Personalized recommendations</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 ">
                                                <h4 class="text-truncate">Premium Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Perfect for frequent travelers who want top-tier features</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$299 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Explorer</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>24/7 VIP support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Exclusive deals</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Unlimited booking changes</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Free lounge access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Personal travel consultant</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Free upgrades</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority check-in/boarding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 ">
                                                <h4 class="text-truncate">Business Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Tailored for business travelers with high demands.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$399 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Premium</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>24/7 business advisor</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Corporate expense tools</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority upgrades</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>VIP airport transfers</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Advanced trip analytics</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Multi-city trip planning</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Fast-track security clearance</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Pricing Plan List -->

                    <!-- Pricing Plan List -->
                    <div class="tab-pane fade " id="pricing-list-02">
                        <div class="row">
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2">
                                                <h4>Basic Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">For casual travelers who just need simple bookings.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$99 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Flight, hotel, car bookings</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Basic search filters</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Email support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Weekday support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>General deals access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Itinerary tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Travel updates</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Save recent searches</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0 bg-light-400">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 pricing-header d-flex align-items-center justify-content-between">
                                                <h4 class="text-truncate">Explorer Plan</h4>
                                                <span class="rounded-pill">Recommended</span>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Ideal for travelers seeking deals and convenience.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$199 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-primary d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Basic</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Advanced filters</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority email & chat support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Early sale access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Fare tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Itinerary tracking</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Price alerts</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Personalized recommendations</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 ">
                                                <h4 class="text-truncate">Premium Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Perfect for frequent travelers who want top-tier features</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$299 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Explorer</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>24/7 VIP support</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Exclusive deals</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Unlimited booking changes</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Free lounge access</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Personal travel consultant</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Free upgrades</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority check-in/boarding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex">
                                <div class="card flex-fill mb-0">
                                    <div class="card-header">
                                        <div class="mb-3">
                                            <div class="mb-2 ">
                                                <h4 class="text-truncate">Business Plan</h4>
                                            </div>
                                            <div class="mb-2">
                                                <p class="fs-16 text-gray-6">Tailored for business travelers with high demands.</p>
                                            </div>
                                            <div>
                                                <h5 class="fs-32 fw-bold">$399 <span class="fs-16 fw-normal">/ monthly</span></h5>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0); " class="btn btn-dark d-flex align-items-center justify-content-center ">Choose Plan <i class="ms-2 isax isax-arrow-right-3"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <h6 class="fs-16">Features Include</h6>
                                        </div>
                                        <div class="pricing-list-items">
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Everything in Premium</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>24/7 business advisor</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Corporate expense tools</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Priority upgrades</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>VIP airport transfers</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Advanced trip analytics</p>
                                            <p class="d-flex align-items-center "><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Multi-city trip planning</p>
                                            <p class="d-flex align-items-center text-truncate"><i class="isax isax-tick-circle5 text-gray-1 me-1"></i>Fast-track security clearance</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Pricing Plan List -->

                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->