    <!-- Footer -->

    <footer [hidden]="base==='index-2' || base === 'index-3' || base === 'index-4' || base === 'index-5' || base === 'index-6'">
      <div class="container">
          <div class="footer-top">
              <!-- <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 row-cols-1">
                  <div class="col">
                      <div class="footer-widget">
                          <h5>Pages</h5>
                          <ul class="footer-menu">
                              <li>
                                  <a [href]="routes.team">Our Team</a>
                              </li>
                              <li>
                                  <a [href]="routes.pricingPlan">Pricing Plans</a>
                              </li>
                              <li>
                                  <a [href]="routes.gallery">Gallery</a>
                              </li>
                              <li>
                                  <a [href]="routes.profileSettings">Settings</a>
                              </li>
                              <li>
                                  <a [href]="routes.myProfile">Profile</a>
                              </li>
                              <li>
                                  <a [href]="routes.agentListings">Listings</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col">
                      <div class="footer-widget">
                          <h5>Company</h5>
                          <ul class="footer-menu">
                              <li>
                                  <a [href]="routes.aboutUs">About Us</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Careers</a>
                              </li>
                              <li>
                                  <a [href]="routes.blogGrid">Blog</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Affiliate Program</a>
                              </li>
                              <li>
                                  <a [href]="routes.agentListings">Add Your Listing</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Our Partners</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col">
                      <div class="footer-widget">
                          <h5>Destinations</h5>
                          <ul class="footer-menu">
                              <li>
                                  <a href="javascript:void(0);">Hawai</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Istanbul</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">San Diego</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Belgium</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Los Angeles</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Newyork</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col">
                      <div class="footer-widget">
                          <h5>Support</h5>
                          <ul class="footer-menu">
                              <li>
                                  <a [href]="routes.contactUs">Contact Us</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Legal Notice</a>
                              </li>
                              <li>
                                  <a [href]="routes.privacyPolicy">Privacy Policy</a>
                              </li>
                              <li>
                                  <a [href]="routes.termsConditions">Terms and Conditions</a>
                              </li>
                              <li>
                                  <a [href]="routes.chat">Chat Support</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Refund Policy</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="col">
                      <div class="footer-widget">
                          <h5>Services</h5>
                          <ul class="footer-menu">
                              <li>
                                  <a [href]="routes.hotelGrid">Hotel</a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">Activity Finder</a>
                              </li>
                              <li>
                                  <a [href]="routes.flightGrid">Flight Finder</a>
                              </li>
                              <li>
                                  <a [href]="routes.tourGrid">Holiday Rental</a>
                              </li>
                              <li>
                                  <a [href]="routes.carGrid">Car Rental</a>
                              </li>
                              <li>
                                  <a [href]="routes.tourDetails">Holiday Packages</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div> -->
              <div [hidden]="page==='index-rtl'" class="footer-wrap bg-white">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-xl-3 col-xxl-3">
                          <div class="mb-3 text-center text-xl-start">
                              <a [href]="routes.index" class="d-block footer-logo-light">
                                  <img src="assets/img/logo-2.jpg" style="height: 45px !important;" alt="logo">
                              </a>
                              <a [href]="routes.index" class="footer-logo-dark">
                                  <img src="assets/img/logo-1.png" style="height: 45px !important;" alt="logo">
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-6 col-xl-4 col-xxl-4">
                          <div class="d-flex align-items-center justify-content-center flex-wrap">
                              <h6 class="fs-14 fw-medium me-2 mb-2">Available on : </h6>
                              <a href="javascript:void(0);" class="d-block mb-3 me-2">
                                  <img src="assets/img/icons/googleplay.svg" alt="logo">
                              </a>
                              <a href="javascript:void(0);" class="d-block mb-3">
                                  <img src="assets/img/icons/appstore.svg" alt="logo">
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-5 col-xxl-5">
                          <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                              <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 pe-0 me-sm-3 pe-sm-3 border-end mb-3">
                                  <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                  <i class="ti ti-headphones-filled fs-24"></i>
                </span>
                                  <div class="ms-2">
                                      <p class="mb-1">Customer Support</p>
                                      <p class="fw-medium text-dark">+91 9633926023</p>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                  <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                  <i class="ti ti-message fs-24 text-gray-9"></i>
                </span>
                                  <div class="ms-2">
                                      <p class="mb-1">Drop Us an Email</p>
                                      <p class="fw-medium text-dark">mail&#64;ota24hours.com</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div *ngIf="page==='index-rtl'" class="footer-wrap bg-white">
                  <div class="row align-items-center">
                      <div class="col-lg-6 col-xl-3 col-xxl-3">
                          <div class="mb-3 text-center text-xl-start">
                              <a [href]="routes.index" class="d-block footer-logo-light">
                                  <img src="assets/img/logo-dark.svg" alt="logo">
                              </a>
                              <a [href]="routes.index" class="footer-logo-dark">
                                  <img src="assets/img/logo.svg" alt="logo">
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-6 col-xl-4 col-xxl-4">
                          <div class="d-flex align-items-center justify-content-center flex-wrap">
                              <h6 class="fs-14 fw-medium ms-2 mb-2">Available on : </h6>
                              <a href="javascript:void(0);" class="d-block mb-3 ms-2">
                                  <img src="assets/img/icons/googleplay.svg" alt="logo">
                              </a>
                              <a href="javascript:void(0);" class="d-block mb-3">
                                  <img src="assets/img/icons/appstore.svg" alt="logo">
                              </a>
                          </div>
                      </div>
                      <div class="col-lg-12 col-xl-5 col-xxl-5">
                          <div class="d-sm-flex align-items-center justify-content-center justify-content-xl-end">
                              <div class="d-flex align-items-center justify-content-center justify-content-sm-start me-0 ps-0 ms-sm-3 pe-sm-3 border-end mb-3">
                                  <span class="avatar avatar-lg bg-primary rounded-circle flex-shrink-0">
                  <i class="ti ti-headphones-filled fs-24"></i>
                </span>
                                  <div class="me-2">
                                      <p class="mb-1">Customer Support</p>
                                      <p class="fw-medium text-dark">+91 9633926023</p>
                                  </div>
                              </div>
                              <div class="d-flex align-items-center justify-content-center justify-content-sm-start mb-3">
                                  <span class="avatar avatar-lg bg-secondary rounded-circle flex-shrink-0">
                  <i class="ti ti-message fs-24 text-gray-9"></i>
                </span>
                                  <div class="me-2">
                                      <p class="mb-1">Drop Us an Email</p>
                                      <p class="fw-medium text-dark">mail&#64;ota24hours.com</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="footer-img">
                  <img src="assets/img/bg/footer.svg" class="img-fluid" alt="img">
              </div>
          </div>
      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="d-flex align-items-center justify-content-between flex-wrap">
                          <p class="fs-14">Copyright &copy; 2025. All Rights Reserved, <a href="javascript:void(0);" class="text-primary fw-medium">OTA 24 HOURS</a></p>
                          <div class="d-flex align-items-center">
                              <ul class="social-icon">
                                  <li>
                                      <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);"><i class="fa-brands fa-x-twitter"></i></a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                  </li>
                                  <li>
                                      <a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a>
                                  </li>
                              </ul>
                          </div>
                          <ul class="card-links">
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-01.svg" alt="img">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-02.svg" alt="img">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-03.svg" alt="img">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-04.svg" alt="img">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-05.svg" alt="img">
                                  </a>
                              </li>
                              <li>
                                  <a href="javascript:void(0);">
                                      <img src="assets/img/icons/card-06.svg" alt="img">
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /Footer Bottom -->

  </footer>
  <!-- /Footer -->

