
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-02 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Team</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Team</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <div class="row justify-content-center row-gap-5">

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-17.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">James Parker</a></h5>
                            <p>Chief Executive Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-18.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Morgan Owen</a></h5>
                            <p class="fs-16">Chief Operations Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-19.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Richard Dolan </a></h5>
                            <p class="fs-16">Chief Marketing Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-20.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Lindsay Brookins</a></h5>
                            <p class="fs-16">Chief Technology Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-lg-29.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Sheila Sanders</a></h5>
                            <p class="fs-16">Chief Financial Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-22.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Douglas Gill</a></h5>
                            <p>Head of Sales</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-lg-28.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Mary Brainerd</a></h5>
                            <p class="fs-16">Content Writer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-23.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Steven Johnson </a></h5>
                            <p class="fs-16">Chief Product Officer</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-lg-25.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Adam Whitlow</a></h5>
                            <p>Marketing Specialist</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-lg-30.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Gabriella Noggle</a></h5>
                            <p class="fs-16">Account Manager</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-24.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">James Holmes</a></h5>
                            <p class="fs-16">Booking Coordinator</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

                <!-- Team Members -->
                <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12">
                    <div class="card team">
                        <div class="card-body">
                            <a href="my-profile.html">
                                <img src="assets/img/users/user-lg-27.jpg" class="img-fluid" alt="Img">
                            </a>
                        </div>
                        <div class="team-member rounded-pill text-center shadow">
                            <h5><a href="my-profile.html">Emma Reedy</a></h5>
                            <p class="fs-16">Sales Representative</p>
                        </div>
                    </div>
                </div>
                <!-- Team Members -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->