    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Payments</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a href="index.html"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Payments</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row">

                <!-- Sidebar -->
                <div class="col-xl-3 col-lg-4">
                    <app-user-dashboard/>
                 </div>
                <!-- /Sidebar -->

                <!-- Payments -->
                <div class="col-xl-9 col-lg-8">
                    <div class="card hotel-list">
                        <div class="card-body p-0">
                            <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
                                <h6>Payments</h6>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="input-icon-start  me-2 position-relative">
                                        <span class="icon-addon">
											<i class="isax isax-search-normal-1 fs-14"></i>
										</span>
                                        <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control form-control-sm"
                                        placeholder="Search" />
                                    </div>
                                    <div class="dropdown me-3">
                                        <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
											Status
										</a>
                                        <ul class="dropdown-menu dropdown-menu-end p-3">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Pending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <app-date-range-picker/>
                                </div>
                            </div>
                            <div class="custom-datatable-filter table-responsive">
                                <table matSort (matSortChange)="sortData($event)" class="table datatable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th mat-sort-header="id">ID</th>
                                            <th mat-sort-header="payment    ">Payment</th>
                                            <th mat-sort-header="service">Service</th>
                                            <th mat-sort-header="type">Payment Type</th>
                                            <th mat-sort-header="date">Date</th>
                                            <th mat-sort-header="price">Amount</th>
                                            <th mat-sort-header="status">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (data of tableData; track data; let i = $index) {
                                            <tr>
                                                <td><a href="invoices.html" class="link-primary fw-medium">{{data.id}}</a></td>
                                                <td class="text-gray-9 fw-medium">{{data.payment}}</td>
                                                <td>{{data.service}}</td>
                                                <td>{{data.paymentType}}</td>
                                                <td>{{data.date}}</td>
                                                <td>{{data.amount}}</td>
                                                <td>
                                                    <span class="badge rounded-pill d-inline-flex align-items-center fs-10" 
                                                    [ngClass]="data.status==='Pending'?'badge-secondary': data.status==='Cancelled'?'badge-danger': data.status==='Completed'?'badge-success': ''">
                                                    <i class="fa-solid fa-circle fs-5 me-1"></i>{{data.status}}</span>
                                                </td>
                                            </tr>
                                        }
                                        @if (tableData.length === 0) {
                                            <tr>
                                            <td colspan="10">
                                                <h5 style="text-align: center">No data found</h5>
                                            </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <app-custom-pagination></app-custom-pagination>
                </div>
                <!-- /Payments -->

            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->
