    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Become an Expert</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Become an Expert</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- How It Works -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="section-header text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h2 class="mb-2">How It Works</h2>
                        <p>Discover how easy it is to become a travel expert. Follow these steps to share your knowledge and earn rewards!</p>
                    </div>
                </div>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="card work-card d-flex mb-0 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="card-body flex-fill">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="work-icon bg-primary-transparent d-flex align-items-center justify-content-between">
                                    <i class="isax isax-lock5 fs-48"></i>
                                </span>
                                <h3 class="display-3">01</h3>
                            </div>
                            <div class="card-content">
                                <h5 class="mb-2">Sign Up</h5>
                                <p>Create your account by filling out our quick registration form and set up your profile</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card work-card d-flex mb-0 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="card-body flex-fill">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="work-icon bg-primary-transparent d-flex align-items-center justify-content-between">
                                    <i class="isax isax-additem5 fs-48"></i>
                                </span>
                                <h3 class="display-3">02</h3>
                            </div>
                            <div class="card-content">
                                <h5 class="mb-2">Add Your Service</h5>
                                <p>Add your service with detailed descriptions and competitive pricing to attract more customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card work-card d-flex mb-0 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="card-body flex-fill">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <span class="work-icon bg-primary-transparent d-flex align-items-center justify-content-between">
                                    <i class="isax isax-calendar-edit5 fs-48"></i>
                                </span>
                                <h3 class="display-3">03</h3>
                            </div>
                            <div class="card-content">
                                <h5 class="mb-2">Get Booking</h5>
                                <p>Travelers will discover and book your services directly through our platform.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /How It Works -->

    <!-- About Section -->
    <section class="section bg-light-200">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 text-center text-lg-start">
                    <div class="section-right-img-two mb-4 mb-lg-0 wow fadeInUp" data-wow-delay="1.5">
                        <img src="assets/img/section-img-02.png" alt="Img">
                        <div class="card review-rate-top border-0 mb-0">
                            <div class="card-body d-flex align-items-center">
                                <div class="avatar-list-stacked avatar-group-md me-2">
                                    <span class="avatar avatar-rounded">
                                        <img class="border border-white" src="assets/img/users/user-01.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-rounded">
                                        <img class="border border-white" src="assets/img/users/user-04.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-rounded">
                                        <img class="border border-white" src="assets/img/users/user-06.jpg" alt="img">
                                    </span>
                                    <span class="avatar avatar-rounded">
                                        <img class="border border-white" src="assets/img/users/user-07.jpg" alt="img">
                                    </span>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center fs-12">
                                        <i class="ti ti-star-filled text-warning"></i>
                                        <i class="ti ti-star-filled text-warning"></i>
                                        <i class="ti ti-star-filled text-warning"></i>
                                        <i class="ti ti-star-filled text-warning"></i>
                                        <i class="ti ti-star-filled text-warning me-1"></i>
                                        <p class="fs-14 text-gray-9">5.0</p>
                                    </div>
                                    <p class="fs-14">2K+ Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="section-header wow fadeInUp" data-wow-delay="0.2s">
                        <h2 class="mb-2">Benefits of become a local expert</h2>
                        <p class="mb-4">Discover how becoming a travel expert can open doors to exciting opportunities, from earning income by sharing your knowledge​</p>
                    </div>
                    <div class="local-expert wow fadeInUp" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-primary flex-shrink-0 me-3">
                                <i class="isax isax-dollar-circle fs-24"></i>
                            </span>
                            <div>
                                <h6 class="fs-18 mb-1">Income Opportunity</h6>
                                <p>Hosting tours can provide a steady source of income, especially in popular tourist destinations.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-secondary flex-shrink-0 me-3">
                                <i class="isax isax-headphone fs-24"></i>
                            </span>
                            <div>
                                <h6 class="fs-18 mb-1">24/7 Customer support</h6>
                                <p>Get assistance anytime, day or night, ensuring seamless support for your queries or concerns.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-primary flex-shrink-0 me-3">
                                <i class="isax isax-profile-2user fs-24"></i>
                            </span>
                            <div>
                                <h6 class="fs-18 mb-1">Networking and Connections</h6>
                                <p>Connect with other local businesses, like restaurants, hotels, and transportation providers, to enhance your offerings.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="avatar bg-secondary flex-shrink-0 me-3">
                                <i class="isax isax-task fs-24"></i>
                            </span>
                            <div>
                                <h6 class="fs-18 mb-1">Recognition and Respect</h6>
                                <p>Establish yourself as an authority in your community. Gain respect and admiration from tourists and locals alike.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /About Section -->

    <!-- About -->
    <section class="section team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-4">
                        <h2>Know More about <span class="text-primary text-decoration-underline">DreamsTour</span></h2>
                    </div>
                    <div class="expert-video wow zoomIn" data-wow-delay="0.2s">
                        <lightgallery
                        [settings]="settings"
                        [onInit]="onInit"
                        size="1400-933"
                        
                      >
                        
                         <a class="video-btn video-effect" href="javascript:void(0);"  src="https://youtu.be/NSAOrGb9orM"><i class="isax isax-play5"></i></a>
                      </lightgallery>
                        
                    </div>
                    <div class="counter-wrap wow fadeInUp" data-wow-delay="0.2s">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-item mb-4">
                                    <h6 class="mb-1 d-flex align-items-center justify-content-center text-teal"><i class="isax isax-global5 me-2"></i>Destinations Worldwide</h6>
                                    <h3 class="display-6"><span class="counter" [countUp]="50" [options]="{ enableScrollSpy: true }">50</span>+</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-item mb-4">
                                    <h6 class="mb-1 d-flex align-items-center justify-content-center text-purple"><i class="isax isax-calendar-2 me-2"></i>Booking Completed</h6>
                                    <h3 class="display-6"><span class="counter" [countUp]="7000" [options]="{ enableScrollSpy: true }">7000</span>+</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-item mb-4">
                                    <h6 class="mb-1 d-flex align-items-center justify-content-center text-pink"><i class="isax isax-tag-user5 me-2"></i>Client Globally</h6>
                                    <h3 class="display-6"><span class="counter" [countUp]="100" [options]="{ enableScrollSpy: true }">100</span>+</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="counter-item mb-4">
                                    <h6 class="mb-1 d-flex align-items-center justify-content-center text-info"><i class="isax isax-status-up5 me-2"></i>Providers Registered</h6>
                                    <h3 class="display-6"><span class="counter" [countUp]="89" [options]="{ enableScrollSpy: true }">89</span>+</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-bg">
                <img src="assets/img/bg/about-bg-01.svg" alt="img" class="about-bg-02">
            </div>
        </div>
    </section>
    <!-- /About -->

    <section class="section pt-0">
        <div class="container">
            <div class="row">

                <!-- Enquiry -->
                <div class="col-lg-5">
                    <div class="card shadow-none mb-4 mb-lg-0 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="card-body">
                            <form action="#">
                                <h5 class="mb-3 fs-18">Register</h5>
                                <div class="mb-3">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email Address</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mobile Number</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Comments</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-check d-flex mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="remembers_me">
                                    <label class="form-check-label ms-2 text-gray-9 fs-14" for="remembers_me">
                                        I have read and accept the <a [routerLink]="routes.termsConditions" class="text-primary text-decoration-underline">Terms and conditions</a>  and <a [routerLink]="routes.privacyPolicy" class="text-primary text-decoration-underline">Privacy policy</a>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg d-flex align-items-center justify-content-center">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Enquiry -->
                
                <!-- FAQ -->
                <div class="col-lg-7">
                    <div class="text-center section-header mb-4">
                        <h2 class="mb-2">Frequently Asked <span class="text-primary text-decoration-underline">Questions</span></h2>
                        <p>DreamsTour, a tour operator specializing in dream destinations, offers a variety of benefits for travelers.</p>
                    </div>
                    <div class="accordion accordion-flush faq-accordion-five bg-white" id="accordionFaq">
                        <div class="accordion-item border show mb-3 wow fadeInUp" data-wow-delay="0.2s" >
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseOne" aria-expanded="false" aria-controls="faq-collapseOne">
                                    What types of tours do you offer?
                                </button>
                            </h2>
                            <div id="faq-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p class="mb-0">We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries. Popular destinations include Europe, Africa (e.g., Morocco), </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb-3 wow fadeInUp" data-wow-delay="0.4s">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapsetwo" aria-expanded="false" aria-controls="faq-collapsetwo">
                                    Are the tours customizable?
                            </button>
                            </h2>
                            <div id="faq-collapsetwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb-3  wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapsthree" aria-expanded="false" aria-controls="faq-collapsthree">
                                    What safety measures do you follow?
                                </button>
                            </h2>
                            <div id="faq-collapsthree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb-3 wow fadeInUp" data-wow-delay="0.8s">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapsefour" aria-expanded="false" aria-controls="faq-collapsefour">
                                    How far in advance should I book?
                                </button>
                            </h2>
                            <div id="faq-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border mb-3 wow fadeInUp" data-wow-delay="1.0s">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapsefive" aria-expanded="false" aria-controls="faq-collapsefive">
                                    What is your cancellation policy?
                                </button>
                            </h2>
                            <div id="faq-collapsefive" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border wow fadeInUp" data-wow-delay="1.0s">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapsesix" aria-expanded="false" aria-controls="faq-collapsesix">
                                    Can I book flights, hotels, and car rentals together?
                                </button>
                            </h2>
                            <div id="faq-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                <div class="accordion-body">
                                    <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /FAQ -->

            </div>
        </div>
    </section>

    <!-- Update Section -->
    <section class="update-section expert-update section pt-0">
        <div class="container">
            <div class="update-sec wow zoomIn" data-wow-delay="0.2s">
                <div class="section-header text-center">
                    <h2 class="mb-1">Stay Updated</h2>
                    <p class="sub-title">Signup for New Offers & Updates from DreamsTour </p>
                </div>
                <div class="input-group justify-content-center mx-auto">
                    <span class="input-group-text px-1"><i class="isax isax-message-favorite5"></i></span>
                    <input type="email" class="form-control" placeholder="Enter Email Address">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
                <div class="update-bg">
                    <img src="assets/img/bg/update-bg.png" alt="img">
                </div>
            </div>
        </div>
    </section>
    <!-- /Update Section -->