/*============================
  47.booking-confirmation
============================*/

.booking-confirmation {
  box-shadow: none;
  .status {
    &::before {
      content: "";
      width: 5px;
      height: 5px;
      background-color: $white;
      border-radius: 50%;
      margin-right: 8px;
      margin-left: 2px;
    }
  }
  .booking-hotels {
    img{
      @include respond-below(md){
        margin-bottom: 8px;
      }
      @include respond-below(lg){
        margin-bottom: 10px;
      }
    }
    .booking-details {
      .booking-items {
        p {
          margin-bottom: 0;
          @include respond-below(md){
            margin-bottom: 8px;
          }
          @include respond-below(lg){
            margin-bottom: 8px;
          }
        }
      }
    }
    
  }
  .service-info {
    span {
      color: $gray-600;
      font-weight: 400;
    }
  }
}
