/*============================
  49.flight
============================*/

.carts-img{
    margin-left: 24px;
    @include respond-below(lg){
        margin-left: 16px;
    }
}
.carts-contents{
    margin-left: 24px;
    @include respond-below(lg){
        margin-left: 16px;
    }
}
.notification-card {
    .notification-delete-btn {
        visibility: hidden;        
    }
    &:hover .notification-delete-btn{
        visibility:visible;
        transform: translateX(5px);
        transition: all 0.5s ease-in-out;
    }
}
.tours-item{
    border: 1px solid $white;
    @include rounded(10px);
    box-shadow: $box-shadow;
    overflow: hidden;
    .tours-img {
        text-align: center;
        @include rounded(10px 10px 0 0);
        height: 97px;
        overflow: hidden;
        @include transition(all 0.9s);
        display: block;
        img{
            height: 97px;
            @include rounded(10px 10px 0 0);
            object-fit: cover;
            @include transition(all 0.9s);
            @include transform(scale(1.0));
        }
    }
    .tours-content{
        padding: 20px;
    }
    &:hover {
        img {            
            @include transform(scale(1.2));
            @include transition(all 0.9s);
        }
    }
}
.rebook-btn{
    background: $light;
    &:hover{
        background: $primary;
        color: $white;
    }
}
.two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}