/*============================
  40.hotel
============================*/

.form-checkbox {
    background: $light-500;
    @include rounded(10px);
    padding: 8px;
}
.more-content {
    height: 148px;
    overflow: hidden;
    transition: height 0.5s ease;
}
.more-view {
    text-decoration: underline;
}
.recommend-wrap {
    @include rounded(10px);
    .dropdown {
        margin-right: 14px;
        &:last-child {
            margin-right: 0;
        }
        .dropdown-menu {
            z-index: 999;
        }
    }
}
.list-item {
    .list-icon {
        width: 28px;
        height: 28px;
        @include rounded(4px);
        background: $white;
        color: $gray-600;
        font-size: $font-size-20;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        &:hover,
        &.active {
            background: $primary;
            color: $white;
        }
    }
}
.hotel-type-item {
    padding: 8px 5px 8px 8px;
    box-shadow: $box-shadow;
    @include rounded(10px);
    background: $white;
    border: 1px solid $light;
    @include transition(all 0.5s ease);
    .avatar {
        overflow: hidden;
        @include rounded(50%);
        img {
            @include transition(all 0.3s ease-out 0s);
        }
    }
    &:hover {
        @include transition(all 0.5s ease);
        @include transform(translateY(-2px));
        img {
            @include transition(all 0.3s ease-out 0s);
            @include transform(scale(1.1));
        }
    }
}
.badge-amenity {
    border: 1px solid $border-color;
    @include rounded(100px);
    padding: 8px 16px;
    color: $gray-900;
    font-weight: $font-weight-normal;
    font-size: $font-size-14;
    &:hover {
        background: $light;
    }
    .btn-close {
        padding: 0;
        top: 50%;
        @include transform(translateY(-50%));
    }
}
.alert.badge-amenity {
    border: 1px solid $border-color;
    @include rounded(100px);
    padding: 8px 34px 8px 16px;
    color: $gray-900;
    font-weight: $font-weight-normal;
    font-size: $font-size-14;
    &:hover {
        background: $light;
    }
    .btn-close {
        padding: 0;
        top: 50%;
        @include transform(translateY(-50%));
        right: 16px;
        opacity: 1;
        cursor: pointer;
        i {
            color: $gray-900;
            font-size: $font-size-14;
        }
    }
}
.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-left: -1px;
    background-color: $primary;
    border-radius: 50px;
    border: 0;
}
.irs--flat .irs-line {
    top: 28px;
    height: 2px;
    background-color: $light;
    border-radius: 4px;
}
.irs--flat .irs-bar {
    top: 28px;
    height: 2px;
    background-color: $primary;
}

.irs-with-grid .irs-grid {
    display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    color: white;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 4px 12px;
    background-color: $primary;
    border-radius: 4px;
    top: -10px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    border-top-color: $primary;
    left: 60%;
}
.pagination-nav {
    .pagination {
        .page-item {
            margin-right: 8px;
            &:first-child {
                margin-right: 13px;
                .page-link {
                    background: transparent;
                }
            }
            &:last-child {
                margin-right: 0;
                margin-left: 5px;
                .page-link {
                    background: transparent;
                }
            }
            .page-link {
                border: 0;
                background: $light;
                color: $text-color;
                font-size: $font-size-14;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                justify-content: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                @include rounded(50%);
            }
            &.active,
            &:hover {
                .page-link {
                    background: $primary;
                    color: $white;
                }
            }
        }
    }
}
.hotel-list {
    .place-item {
        display: flex;
        .place-img {
            width: 310px;
            flex-shrink: 0;
            height: inherit;
            @include rounded(10px 0 0 10px);
            @include respond-below(xl) {
                width: 280px;
            }
            .img-slider,  .image-slide {
                height: 100%;
                .owl-stage-outer {
                    height: 100%;
                    .owl-stage {
                        height: 100%;
                        .owl-item {
                            height: 100%;
                            .slide-images {
                                height: 100%;
                                a {
                                    height: inherit;
                                    display: block;
                                    img {
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            a {
                height: 100%;
                display: block;
                img {
                    height: 100%;
                    object-fit: cover;
                    @include rounded(10px 0 0 10px);

                    @include respond-below(md) {
                        @include rounded(10px 10px 0 0);
                    }
                }
            }
            @include respond-below(md) {
                width: 100%;
                height: auto;
                @include rounded(10px 10px 0 0);
            }
        }
        .place-content {
            flex: 1;
        }
        @include respond-below(md) {
            display: block;
        }
    }
}
.line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.filter-sidebar {
    .accordion-item {
        border-radius: 0;
    }
}
.review-img {
    img {
        @include rounded(10px);
        height: 130px;
        object-fit: cover;
        width: 100%;
    }
}
.stripe-details, .paypal-details {
    display: none;
}
.room-slider {
    img {
        @include rounded(10px);
    }
    &.nav-center {
        .owl-nav button.owl-next,
        .owl-nav button.owl-prev {
            width: 34px;
            height: 34px;
            font-size: $font-size-14;
            @include respond-below(lg) {
                width: 32px;
                height: 32px;
            }
        }
        .owl-nav button.owl-next {
            right: 20px;
        }
        .owl-nav button.owl-prev {
            left: 20px;
        }
    }
}
.border-icon {
    position: relative;
    padding-left: 12px;
    &::before {
        content: "";
        background: $teal;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include rounded(4px);
    }
    &.secondary {
        &::before {
            background: $secondary;
        }
    }
    &.primary {
        &::before {
            background: $primary;
        }
    }
    &.purple {
        &::before {
            background: $purple;
        }
    }
    &.dark {
        &::before {
            background: $dark;
        }
    }
}