

 



<div class="row">
    <div class="col-xl-4">
        <div class="card earning-box bg-primary">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md rounded-circle mb-2"><i class="isax isax-graph5 fs-24"></i></span>
                    <p class="text-white mb-1">Total Due</p>
                    <h3 class="text-white mb-1">{{summary?.totalDue}}</h3>
                </div>


            </div>


        </div>
    </div>

    <div class="col-xl-4">
        <div class="card earning-box bg-success">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md rounded-circle mb-2"><i class="isax isax-graph5 fs-24"></i></span>
                    <p class="text-white mb-1">Total Paid</p>
                    <h3 class="text-white mb-1">{{summary?.totalPaid}}</h3>
                </div>


            </div>


        </div>
    </div>

    <div class="col-xl-4">
        <div class="card earning-box bg-warning">
            <div class="card-body">
                <div class="text-center">
                    <span class="avatar avatar-md rounded-circle mb-2"><i class="isax isax-graph5 fs-24"></i></span>
                    <p class="text-white mb-1">Balance</p>
                    <h3 class="text-white mb-1">{{summary?.outstanding}}</h3>
                </div>


            </div>


        </div>
    </div>

</div>


<div class="place-nav listing-nav">
    <ul class="nav mb-2">
        <li class="me-2">
            <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#earning-list">
                Payments
            </a>
        </li>
        <li class="me-2">
            <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#withdraw-list">
                Completed
            </a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active show" id="earning-list">
                <app-earnings-table [tableData]="allTransanction" ></app-earnings-table>

        <!-- <app-earnings-table></app-earnings-table> -->

    </div>
    <div class="tab-pane fade" id="withdraw-list">
                <app-withdraw-table [tableData]="allPayment" ></app-withdraw-table>

    </div>
</div>













