
    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Destinations</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Destinations</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <div class="row g-4">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-01.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Turkey</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">452 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-02.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Thailand</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">400 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-03.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Australia</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">400 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-04.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Brazil</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">422 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-40.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Azerbaijan</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">340 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-41.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Russia</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">410 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-42.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Indonesia</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">280 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-43.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Belgium </h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">380 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-44.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Denmark</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">460 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-45.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Germany</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">370 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-46.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Canada</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">550 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <!-- Destination Item-->
                    <div class="destination-item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/destination/destination-47.jpg" alt="img">
                        <div class="destination-info text-center">
                            <div class="destination-content">
                                <h5 class="mb-1 text-white">Japan</h5>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="rating d-flex align-items-center me-2">
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled me-1"></i>
                                        <i class="fa-solid fa-star filled"></i>
                                    </div>
                                    <p class="fs-14 text-white">580 Reviews</p>
                                </div>
                            </div>
                            <div class="destination-overlay bg-white mt-2">
                                <div class="d-flex">
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-indigo">
                                                <i class="isax isax-airplane"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">21 Flights</h6>
                                        </div>
                                    </div>
                                    <div class="col border-end">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-cyan">
                                                <i class="isax isax-buildings"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">15 Hotels</h6>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="count-info text-center">
                                            <span class="d-block mb-1 text-success">
                                                <i class="isax isax-ship"></i>
                                            </span>
                                            <h6 class="fs-13 fw-medium">06 Cruises</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Destination Item-->
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->