<!-- Booking Header -->
<div class="card booking-header border-0">
  <div
    class="card-body header-content d-flex align-items-center justify-content-between flex-wrap"
  >
    <div>
      <h6 class="mb-1">Users & Vendors</h6>
      <!-- <p class="fs-14 text-gray-6 fw-normal">No of Booking : 150</p> -->
    </div>

    <!-- <div class="d-flex align-items-center flex-wrap">
      <app-date-range-picker />
    </div> -->
  </div>
</div>
<!-- /Booking Header -->

<!-- Hotel-Booking List -->
<div class="card hotel-list">
  <div class="card-body p-0">
    <div
      class="list-header d-flex align-items-center justify-content-between flex-wrap"
    >
      <h6 class="">User List</h6>
      <div class="d-flex align-items-center flex-wrap">
        <div class="input-icon-start me-2 position-relative">
          <span class="icon-addon">
            <i class="isax isax-search-normal-1 fs-14"></i>
          </span>
          <input
            [(ngModel)]="searchValue"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchFunction(searchValue)"
            type="search"
            class="form-control form-control-sm"
            placeholder="Search"
          />
        </div>
        <!-- USER TYPE Dropdown -->
        <div class="dropdown me-3">
          <a
            href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            USER Type: {{ selectedUserType || "All" }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onUserTypeChange('')"
                >All</a
              >
            </li>

            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onUserTypeChange('vendor')"
                >Vendor</a
              >
            </li>
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onUserTypeChange('user')"
                >User</a
              >
            </li>
          </ul>
        </div>

        <!-- STATUS Dropdown -->
        <div class="dropdown me-3">
          <a
            href="javascript:void(0);"
            class="dropdown-toggle text-gray-6 btn rounded border d-inline-flex align-items-center"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Status:
            {{
              selectedStatus === "1"
                ? "Active"
                : selectedStatus === "0"
                ? "Inactive"
                : "All"
            }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end p-3">
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onStatusChange('')"
                >All</a
              >
            </li>

            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onStatusChange('1')"
                >Active</a
              >
            </li>
            <li>
              <a
                href="javascript:void(0);"
                class="dropdown-item"
                (click)="onStatusChange('0')"
                >Inactive</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Hotel List -->
    <div class="custom-datatable-filter table-responsive">
      <table matSort (matSortChange)="sortData($event)" class="table datatable">
        <thead class="thead-light">
          <tr>
            <th mat-sort-header="id">Type</th>
            <th mat-sort-header="hotel">Name</th>
            <th mat-sort-header="days">Phone</th>

            <th mat-sort-header="booked">Email</th>
            <!-- <th mat-sort-header="date">Age</th> -->
            <th mat-sort-header="start">Gender</th>
            <th mat-sort-header="status">Status</th>
            <th mat-sort-header="action">Approve</th>

            <!-- <th mat-sort-header="action"></th> -->
          </tr>
        </thead>
        <tbody>
          @for (data of users; track data; let i = $index) {
          <tr>
            <td>
              <a
                href="javascript:void(0);"
                class="link-primary fw-medium"
                data-bs-toggle="modal"
                data-bs-target="#upcoming"
                >{{ data.user_type }}</a
              >
            </td>
            <td>
              <div>
                <p class="text-dark mb-0 fw-medium fs-14">
                  <a [routerLink]="routes.hotelDetails">{{ data.name }}</a>
                </p>
                <!-- <span class="fs-14 fw-normal text-gray-6">{{
                  data.u_phone
                }}</span> -->
              </div>
            </td>
            <td>
              <h6 class="fs-14 mb-1">{{ data.phone }}</h6>
              <!-- <span class="fs-14 fw-normal text-gray-6">{{
                data.user.name
              }}</span> -->
            </td>
            <td>
              <h6 class="fs-14 mb-1">{{ data.email }}</h6>
              <!-- <span class="fs-14 fw-normal text-gray-6">{{ data.guest }}</span> -->
            </td>
            <!-- <td>{{ data.u_age}}</td> -->
            <td>{{ data.gender }}</td>
            <td>{{ data.verified_status }}</td>

            <td>
              <mat-slide-toggle
                [checked]="data.verified_status === 'VERIFIED'"
                (change)="onStatusToggle($event.checked, data)"
                color="primary"
              ></mat-slide-toggle>
            </td>
          </tr>
          } @if (users.length === 0) {
          <tr>
            <td colspan="10">
              <h5 style="text-align: center">No data found</h5>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- /Hotel List -->
  </div>
</div>
<!-- /Hotel-Booking List -->
  <div class="col-md-12">
    <!-- Pagination -->
    <nav class="pagination-nav" *ngIf="totalPages > 1">
      <ul class="pagination justify-content-center">
        <!-- Previous -->
        <li class="page-item" [class.disabled]="page === 1">
          <a
            class="page-link"
            href="javascript:void(0);"
            (click)="changePage(page - 1)"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </a>
        </li>

        <!-- Page Numbers -->
        <li
          class="page-item"
          *ngFor="let p of [].constructor(totalPages); let i = index"
          [class.active]="page === i + 1"
        >
          <a
            class="page-link"
            href="javascript:void(0);"
            (click)="changePage(i + 1)"
          >
            {{ i + 1 }}
          </a>
        </li>

        <!-- Next -->
        <li class="page-item" [class.disabled]="page === totalPages">
          <a
            class="page-link"
            href="javascript:void(0);"
            (click)="changePage(page + 1)"
          >
            <i class="fa-solid fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!-- /Pagination -->
  </div>
<!-- Pagination -->
<!-- /Pagination -->

<!-- transport Modal -->
<div
  class="modal fade"
  id="transport"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          Booking Info
          <span class="fs-14 fw-medium text-primary">#HB-1245</span>
        </h5>
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn-close text-dark"
        ></a>
      </div>
      <div class="modal-body">
        <div class="upcoming-content">
          <div
            class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded"
          >
            <div class="d-flex align-items-center flex-wrap">
              <div class="me-2">
                <img
                  src="assets/img/hotels/hotel-13.jpg"
                  alt="image"
                  class="avatar avartar-md avatar-rounded"
                />
              </div>
              <div>
                <h6 class="mb-1">The Luxe Haven</h6>
                <div class="title-list">
                  <p
                    class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"
                  >
                    <i class="isax isax-building me-2"></i>Luxury Hotel
                  </p>
                  <p
                    class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"
                  >
                    <i class="isax isax-location5 me-2"></i>15/C Prince Dareen
                    Road, New York
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 fw-normal">
                    <span
                      class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2"
                      >5.0</span
                    >(400 Reviews)
                  </p>
                </div>
              </div>
            </div>
            <div>
              <span
                class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"
                ><i class="fa-solid fa-circle fs-5 me-1"></i>Upcoming</span
              >
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Room Details</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Room Type</h6>
                <p class="text-gray-6 fs-16">Queen Room</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Rooms</h6>
                <p class="text-gray-6 fs-16">1</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Room Price</h6>
                <p class="text-gray-6 fs-16">$400</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Guests</h6>
                <p class="text-gray-6 fs-16">4 Adults, 2 Child</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Booking Info</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Booked On</h6>
                <p class="text-gray-6 fs-16">15 May 2024</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Check In Date & Time</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Checkout Date & Time</h6>
                <p class="text-gray-6 fs-16">25 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Days Stay</h6>
                <p class="text-gray-6 fs-16">4 Days, 5 Nights</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Extra Service Info</h6>
            <div class="d-flex align-items-center">
              <span
                class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2"
                >Cleaning</span
              >
              <span
                class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2"
                >Airport Pickup</span
              >
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14"
                >Breakfast</span
              >
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Billing Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Name</h6>
                <p class="text-gray-6 fs-16">Chris Foxy</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Email</h6>
                <p class="text-gray-6 fs-16">chrfo2356&#64;example.com</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Phone</h6>
                <p class="text-gray-6 fs-16">+1 12656 26654</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Address</h6>
                <p class="text-gray-6 fs-16">
                  15/C Prince Dareen Road, New York
                </p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Order Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Order Id</h6>
                <p class="text-primary fs-16">#45669</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Method</h6>
                <p class="text-gray-6 fs-16">Credit Card (Visa)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Status</h6>
                <p class="text-success fs-16">Paid</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Date of Payment</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Tax</h6>
                <p class="text-gray-6 fs-16">15% ($60)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Discount</h6>
                <p class="text-gray-6 fs-16">20% ($15)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Booking Fees</h6>
                <p class="text-gray-6 fs-16">$25</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Total Paid</h6>
                <p class="text-gray-6 fs-16">$6569</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a
          href="javascript:void(0);"
          class="btn btn-md btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#cancel-booking"
          >Cancel Booking</a
        >
      </div>
    </div>
  </div>
</div>
<!-- /transport Modal -->

<!-- accomodation Modal -->
<div
  class="modal fade"
  id="accomodation"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5>
          Booking Info
          <span class="fs-14 fw-medium text-primary"></span>
        </h5>
        <a
          href="javascript:void(0);"
          data-bs-dismiss="modal"
          class="btn-close text-dark"
        ></a>
      </div>
      <div class="modal-body">
        <div class="upcoming-content">
          <div
            class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded"
          >
            <div class="d-flex align-items-center flex-wrap">
              <div class="me-2">
                <img
                  src="assets/img/hotels/hotel-13.jpg"
                  alt="image"
                  class="avatar avartar-md avatar-rounded"
                />
              </div>
              <div>
                <h6 class="mb-1">The Luxe Haven</h6>
                <div class="title-list">
                  <p
                    class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"
                  >
                    <i class="isax isax-building me-2"></i>Luxury Hotel
                  </p>
                  <p
                    class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"
                  >
                    <i class="isax isax-location5 me-2"></i>15/C Prince Dareen
                    Road, New York
                  </p>
                  <p class="d-flex align-items-center pe-2 me-2 fw-normal">
                    <span
                      class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2"
                      >5.0</span
                    >(400 Reviews)
                  </p>
                </div>
              </div>
            </div>
            <div>
              <span
                class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"
                ><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span
              >
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Room Details</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Room Type</h6>
                <p class="text-gray-6 fs-16">Queen Room</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Rooms</h6>
                <p class="text-gray-6 fs-16">1</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Room Price</h6>
                <p class="text-gray-6 fs-16">$400</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Guests</h6>
                <p class="text-gray-6 fs-16">4 Adults, 2 Child</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Booking Info</h6>
            <div class="row">
              <div class="col-lg-3">
                <h6 class="fs-14">Booked On</h6>
                <p class="text-gray-6 fs-16">15 May 2024</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Check In Date & Time</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Checkout Date & Time</h6>
                <p class="text-gray-6 fs-16">25 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">No of Days Stay</h6>
                <p class="text-gray-6 fs-16">4 Days, 5 Nights</p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Extra Service Info</h6>
            <div class="d-flex align-items-center">
              <span
                class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2"
                >Cleaning</span
              >
              <span
                class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2"
                >Airport Pickup</span
              >
              <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14"
                >Breakfast</span
              >
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Billing Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Name</h6>
                <p class="text-gray-6 fs-16">Chris Foxy</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Email</h6>
                <p class="text-gray-6 fs-16">chrfo2356&#64;example.com</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Phone</h6>
                <p class="text-gray-6 fs-16">+1 12656 26654</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Address</h6>
                <p class="text-gray-6 fs-16">
                  15/C Prince Dareen Road, New York
                </p>
              </div>
            </div>
          </div>
          <div class="upcoming-details">
            <h6 class="mb-2">Order Info</h6>
            <div class="row gy-3">
              <div class="col-lg-3">
                <h6 class="fs-14">Order Id</h6>
                <p class="text-primary fs-16">#45669</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Method</h6>
                <p class="text-gray-6 fs-16">Credit Card (Visa)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Payment Status</h6>
                <p class="text-success fs-16">Paid</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Date of Payment</h6>
                <p class="text-gray-6 fs-16">20 May 2024, 10:50 AM</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Tax</h6>
                <p class="text-gray-6 fs-16">15% ($60)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Discount</h6>
                <p class="text-gray-6 fs-16">20% ($15)</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Booking Fees</h6>
                <p class="text-gray-6 fs-16">$25</p>
              </div>
              <div class="col-lg-3">
                <h6 class="fs-14">Total Paid</h6>
                <p class="text-gray-6 fs-16">$6569</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [routerLink]="routes.hotelDetails" class="btn btn-md btn-primary"
          >Book Again</a
        >
      </div>
    </div>
  </div>
</div>
<!-- /accomodation Modal -->

<!-- Booking Cancel -->
<div class="modal fade" id="cancel-booking">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5">
        <form>
          <div class="text-center">
            <div class="mb-4">
              <i class="isax isax-location-cross5 text-danger fs-40"></i>
            </div>
            <h5 class="mb-2">Are you sure you want to cancel booking?</h5>
            <p class="mb-4 text-gray-9">
              Order ID : <span class="text-primary">#HB-1245</span>
            </p>
          </div>
          <div class="mb-4">
            <label class="form-label"
              >Reason <span class="text-danger">*</span></label
            >
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-2"
              data-bs-dismiss="modal"
              >No, Dont Cancel</a
            >
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Yes, Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Booking Cancel -->
