    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Testimonials</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Testimonials</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <div class="row row-gap-4">
                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Great Hospitalization</h6>
                            <p class="mb-4">Dream Tours made our Ark trip a dream come true! The staff was incredibly attentive, and every detail was perfectly managed. We couldn’t have asked for a better experience!</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-01.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Andrew Fetcher</a>
										</h6>
                                        <p>Newyork, United States</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>
                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Hidden Treasure</h6>
                            <p class="mb-4">I went on the Gone with the Wind tour, and it was my first multi-day bus tour. The experience was terrific, thanks to the friendly tour guides. I’ve told many people about it</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-02.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Bryan Bradfield</a>
										</h6>
                                        <p>Cape Town, South Africa</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.7</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Easy to Find your Leisuere Place</h6>
                            <p class="mb-4">Thanks for arranging a smooth travel experience for us. Our cab driver was polite, timely, and helpful. The team ensured that everything was taken care of, making it a stress-free trip</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-03.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Prajakta Sasane</a>
										</h6>
                                        <p>Paris, France</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.8	</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>


                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Perfect Vacation</h6>
                            <p class="mb-4">I used DreamsTour to book our family vacation, and it was a flawless experience. From finding affordable flights to booking an amazing hotel and everything was seamless.</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-19.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Sergio Ramos</a>
										</h6>
                                        <p>Columbus, United States</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Amazing Deals</h6>
                            <p class="mb-4">Booking my flights and hotels through Dream Tour was so easy! I found great deals and had all my reservations confirmed in minutes. Highly recommend this platform.</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-34.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Blanca Renard</a>
										</h6>
                                        <p>London, United Kingdom</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.6</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Quick, Easy, and Affordable</h6>
                            <p class="mb-4">As a frequent traveler, I value convenience and price. DreamsTour is my go-to platform because they have everything in one place. I even saved money on flights and car rentals!</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-35.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">David Welker</a>
										</h6>
                                        <p>Paris, France</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.7</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Exceptional Support</h6>
                            <p class="mb-4">DreamsTour made it simple to book everything from flights to hotels and even local tours. When I had a question about my reservation, their support team responded quickly.</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-36.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Sandra Montero</a>
										</h6>
                                        <p>Denver, United States</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Great Selection of Tours and Cruises</h6>
                            <p class="mb-4">We were looking for a cruise that fit our schedule, and DreamsTour had so many options. The booking process was straightforward, and we ended up with an amazing deal. </p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-37.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Donald Brooks</a>
										</h6>
                                        <p>Pretoria, South Africa</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">A Stress-free Family Vacation</h6>
                            <p class="mb-4">Planning a vacation with kids can be tough, but DreamsTour made it super easy for us. We booked flights, hotels, and a rental car in one go. We had an amazing time & everything was perfectly arranged!</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-38.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Gracie Walsh</a>
										</h6>
                                        <p>Lyon, France</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Incredible Experiences</h6>
                            <p class="mb-4">We’ve used DreamsTour for three vacations now, and each one has been perfect. Whether it’s finding a unique tour or booking a last-minute flight, they always have the best options.</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-39.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Thomas Pelkey</a>
										</h6>
                                        <p>Chicago, United States</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.9</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">The Best Travel Companion</h6>
                            <p class="mb-4">DreamsTour has become my go-to for all travel bookings. I’ve booked everything from solo trips to group vacations, and every experience has been perfect. </p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-40.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Emma Garcia</a>
										</h6>
                                        <p>Sydney, Australia</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">4.6</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>

                <div class="col-lg-4 d-flex">
                    <!-- Testimonial Item-->
                    <div class="card border-white mb-0 wow fadeInUp flex-fill" data-wow-delay="0.2s">
                        <div class="card-body">
                            <h6 class="mb-3">Smooth and Easy</h6>
                            <p class="mb-4">Thanks for arranging a smooth travel experience for us. Our cab driver was polite, timely, and helpful. The team ensured that everything was taken care of, making it a stress-free trip</p>
                            <div class="border-top pt-4 d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <a href="javascript:void(0);" class="avatar avatar-md  flex-shrink-0">
                                        <img src="assets/img/users/user-41.jpg" class="rounded-circle" alt="img">
                                    </a>
                                    <div class="ms-2">
                                        <h6 class="fs-16 fw-medium"><a href="javascript:void(0);">Robert Seger</a>
										</h6>
                                        <p>Bristol, United Kingdom</p>
                                    </div>
                                </div>
                                <span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>
                            </div>
                        </div>
                    </div>
                    <!-- /Testimonial Item-->
                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->