    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Gallery</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">

            <!-- Gallery Details -->
            <lightgallery class="row row-gap-4" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-01.jpg" data-responsive="assets/img/gallery/gallery-01.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-01.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-01.jpg" title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-02.jpg" data-responsive="assets/img/gallery/gallery-02.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-02.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-02.jpg" title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-03.jpg" data-responsive="assets/img/gallery/gallery-03.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-03.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-03.jpg" title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-04.jpg" data-responsive="assets/img/gallery/gallery-04.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-04.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-04.jpg" title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-05.jpg" data-responsive="assets/img/gallery/gallery-05.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-05.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-05.jpg" title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-06.jpg" data-responsive="assets/img/gallery/gallery-06.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-06.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-06.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-07.jpg" data-responsive="assets/img/gallery/gallery-07.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-07.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-07.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-08.jpg" data-responsive="assets/img/gallery/gallery-08.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-08.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-08.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-09.jpg" data-responsive="assets/img/gallery/gallery-09.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-09.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-09.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-10.jpg" data-responsive="assets/img/gallery/gallery-10.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-10.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-10.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-11.jpg" data-responsive="assets/img/gallery/gallery-11.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-11.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-11.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3" data-src="assets/img/gallery/gallery-12.jpg" data-responsive="assets/img/gallery/gallery-12.jpg">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-12.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-12.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-13.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-13.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-14.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-14.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-15.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-15.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="gallery-card">
                        <div class="gallery-body">
                            <div class="img-wrap">
                                <img src="assets/img/gallery/gallery-16.jpg" alt="img">
                                <div class="img-overlay-1">
                                    <a class="gallery-img" data-fancybox="gallery-img" href="assets/img/gallery/gallery-16.jpg  " title="Demo 01"><span class="gallery-eye-icon rounded-circle bg-primary d-flex align-items-center justify-content-center"><i class="ti ti-eye text-white"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </lightgallery>
            <!-- /Gallery Details -->

        </div>
    </div>
    <!-- /Page Wrapper -->