

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-04 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">My Bookings</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-grid-55"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">My Bookings</li>
                            <li class="breadcrumb-item active" aria-current="page">Flights</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <div class="row">
                
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <app-user-dashboard/>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <!-- Hotel Booking -->
                    
                            <!-- Booking Header -->
                            <div class="card booking-header">
                                <div class="card-body header-content d-flex align-items-center justify-content-between flex-wrap ">
                                    <div>
                                        <h6>Flights</h6>
                                        <p class="fs-14 text-gray-6 fw-normal ">No of Booking : 40</p>
                                    </div>
                    
                                    <div class="d-flex align-items-center flex-wrap">
                                        <app-date-range-picker/>
                                        <div class="dropdown ">
                                            <a href="javascript:void(0);" class="dropdown-toggle btn border text-gray-6 rounded  fw-normal fs-14 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                                <i class="ti ti-file-export me-2 fs-14 text-gray-6"></i>Export
                                            </a>
                                            <ul class="dropdown-menu  dropdown-menu-end p-3">
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-xls me-1"></i>Export as Excel</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Booking Header -->
                    
                            <!-- Car-Booking List -->
                            <div class="card hotel-list">
                                <div class="card-body p-0">
                                    <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
                                        <h6 class="">Booking List</h6>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="input-icon-start  me-2 position-relative">
                                                <span class="icon-addon">
                                                <i class="isax isax-search-normal-1 fs-14"></i>
                                            </span>
                                            <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }"
                                            (ngModelChange)="searchData(searchDataValue)" type="search" class="form-control form-control-sm"
                                            placeholder="Search" />
                                            </div>
                                            <div class="dropdown me-3">
                                                <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                Ticket Type
                                            </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-3">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Business Class</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Economy</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Fare Economy</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="dropdown me-3">
                                                <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded border d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                Status
                                            </a>
                                                <ul class="dropdown-menu dropdown-menu-end p-3">
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Upcoming</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Pending</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Cancelled</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="dropdown-item rounded-1">Completed</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="d-flex align-items-center sort-by">
                                                <span class="fs-14 text-gray-9 fw-medium">Sort By :</span>
                                                <div class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle text-gray-6 btn  rounded d-inline-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                                Recommended
                                                </a>
                                                    <ul class="dropdown-menu dropdown-menu-end p-3">
                                                        <li>
                                                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                    
                                        </div>
                                    </div>
                    
                                    <!-- Hotel List -->
                                    <div class="custom-datatable-filter table-responsive">
                                        <table matSort (matSortChange)="sortData($event)" class="table datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th mat-sort-header="id">ID</th>
                                                    <th mat-sort-header="flight">Flight</th>
                                                    <th mat-sort-header="ticket">Ticket</th>
                                                    <th mat-sort-header="fromto">From - To</th>
                                                    <th mat-sort-header="price">Price</th>
                                                    <th mat-sort-header="date">Date</th>
                                                    <th mat-sort-header="status">Status</th>
                                                    <th mat-sort-header="action"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (data of tableData; track data; let i = $index) {
                                                <tr>
                                                    <td><a href="javascript:void(0);" class="link-primary fw-medium" data-bs-toggle="modal" data-bs-target="#upcoming">#TR-1245</a></td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a [routerLink]="routes.flightDetails" class="avatar avatar-lg"><img src="assets/img/flight/{{data.Img}}" class="img-fluid rounded-circle" alt="img"></a>
                                                            <div class="ms-2">
                                                                <p class="text-dark mb-0 fw-medium fs-14"><a [routerLink]="routes.flightDetails">{{data.FlightName}}</a></p>
                                                                <span class="fs-14 fw-normal text-gray-6">{{data.Flight}}</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6 class="fs-14 mb-1">{{data.Ticket}}</h6>
                                                        <span class="fs-14 fw-normal text-gray-6">{{data.Passanger}}</span>
                                                    </td>
                                                    <td>{{data.Travel}}</td>
                                                    <td>{{data.Price}}</td>
                                                    <td>{{data.Date}}</td>
                                                    <td>
                                                        <span class="badge rounded-pill d-inline-flex align-items-center fs-10" 
                                                                [ngClass]="data.Status==='Upcoming'?'badge-info': data.Status==='Pending'?'badge-secondary': data.Status==='Cancelled'?'badge-danger': data.Status==='Completed'?'badge-success': ''">
                                                                <i class="fa-solid fa-circle fs-5 me-1"></i>{{data.Status}}</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="javascript:void(0);" data-bs-toggle="modal" [attr.data-bs-target]="data.Status==='Upcoming'?'#upcoming':data.Status==='Pending'?'#pending':data.Status==='Cancelled'?'#cancelled':data.Status==='Completed'?'#completed':''"><i class="isax isax-eye"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                }
                                                @if (tableData.length === 0) {
                                                    <tr>
                                                    <td colspan="10">
                                                        <h5 style="text-align: center">No data found</h5>
                                                    </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /Hotel List -->
                    
                                </div>
                            </div>
                            <!-- /Car-Booking List -->
                            <app-custom-pagination></app-custom-pagination>
                    
                        <!-- /Hotel Booking -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Upcoming Modal -->
    <div class="modal fade" id="upcoming" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Booking Info <span class="fs-14 fw-medium text-primary">#FB-1245</span></h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
                </div>
                <div class="modal-body">
                    <div class="upcoming-content">
                        <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="me-2">
                                    <img src="assets/img/flight/flight-01.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                                </div>
                                <div>
                                    <h6 class="mb-1">AstraFlight 215</h6>
                                    <div class="title-list">
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><img src="assets/img/icons/airindia.svg" alt="image" class="avatar avatar-sm avatar-rounded me-2">Air India</p>
                                        <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                        <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Upcoming</span>
                            </div>
                        </div>
                        <div class="upcoming-details ">
                            <h6 class="mb-2">Booking Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">From</h6>
                                    <p class="text-gray-6 fs-16 ">Las Vegas</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">To</h6>
                                    <p class="text-gray-6 fs-16 ">Newyork</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booked On</h6>
                                    <p class="text-gray-6 fs-16 ">15 May 2024</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Departure Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Return Date & Time</h6>
                                    <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Travellers</h6>
                                    <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Stopping</h6>
                                    <p class="text-gray-6 fs-16 ">1 Stop at Texas</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Extra Service Info</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Blankets & Pillows</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Meals Plan</h6>
                            <div class="d-flex align-items-center">
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Lunch </span>
                                <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Dinner</span>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Billing Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Name</h6>
                                    <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Email</h6>
                                    <p class="text-gray-6 fs-16 ">chrfo2356&#64;example.com</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Phone</h6>
                                    <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Address</h6>
                                    <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-details">
                            <h6 class="mb-2">Order Info</h6>
                            <div class="row gy-3">
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Order Id</h6>
                                    <p class="text-primary fs-16 ">#45669</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Method</h6>
                                    <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Payment Status</h6>
                                    <p class="text-success fs-16 ">Paid</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Date of Payment</h6>
                                    <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Tax</h6>
                                    <p class="text-gray-6 fs-16 ">15% ($60)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Discount</h6>
                                    <p class="text-gray-6 fs-16 ">20% ($15)</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Booking Fees</h6>
                                    <p class="text-gray-6 fs-16 ">$25</p>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="fs-14">Total Paid</h6>
                                    <p class="text-gray-6 fs-16 ">$6569</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#cancel-booking">Cancel Booking</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Upcoming Modal -->

<!-- Pending Modal -->
<div class="modal fade" id="pending" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Booking Info <span class="fs-14 fw-medium text-primary">#FB-1245</span></h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
            </div>
            <div class="modal-body">
                <div class="upcoming-content">
                    <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="me-2">
                                <img src="assets/img/flight/flight-01.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                            </div>
                            <div>
                                <h6 class="mb-1">AstraFlight 215</h6>
                                <div class="title-list">
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><img src="assets/img/icons/airindia.svg" alt="image" class="avatar avatar-sm avatar-rounded me-2">Air India</p>
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                    <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="badge badge-secondary rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Pending</span>
                        </div>
                    </div>
                    <div class="upcoming-details ">
                        <h6 class="mb-2">Booking Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">From</h6>
                                <p class="text-gray-6 fs-16 ">Las Vegas</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">To</h6>
                                <p class="text-gray-6 fs-16 ">Newyork</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booked On</h6>
                                <p class="text-gray-6 fs-16 ">15 May 2024</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Departure Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Return Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Travellers</h6>
                                <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Stopping</h6>
                                <p class="text-gray-6 fs-16 ">1 Stop at Texas</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Extra Service Info</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Blankets & Pillows</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Meals Plan</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Lunch </span>
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Dinner</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Billing Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Name</h6>
                                <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Email</h6>
                                <p class="text-gray-6 fs-16 ">chrfo2356&#64;example.com</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Phone</h6>
                                <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Address</h6>
                                <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Order Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Order Id</h6>
                                <p class="text-primary fs-16 ">#45669</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Method</h6>
                                <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Status</h6>
                                <p class="text-success fs-16 ">Paid</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Date of Payment</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Tax</h6>
                                <p class="text-gray-6 fs-16 ">15% ($60)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Discount</h6>
                                <p class="text-gray-6 fs-16 ">20% ($15)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booking Fees</h6>
                                <p class="text-gray-6 fs-16 ">$25</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Total Paid</h6>
                                <p class="text-gray-6 fs-16 ">$6569</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-md btn-primary" data-bs-toggle="modal" data-bs-target="#cancel-booking">Cancel Booking</a>
            </div>
        </div>
    </div>
</div>
<!-- /Pending Modal -->

<!-- Completed Modal -->
<div class="modal fade" id="completed" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Booking Info <span class="fs-14 fw-medium text-primary">#FB-1245</span></h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
            </div>
            <div class="modal-body">
                <div class="upcoming-content">
                    <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="me-2">
                                <img src="assets/img/flight/flight-01.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                            </div>
                            <div>
                                <h6 class="mb-1">AstraFlight 215</h6>
                                <div class="title-list">
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><img src="assets/img/icons/airindia.svg" alt="image" class="avatar avatar-sm avatar-rounded me-2">Air India</p>
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                    <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Completed</span>
                        </div>
                    </div>
                    <div class="upcoming-details ">
                        <h6 class="mb-2">Booking Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">From</h6>
                                <p class="text-gray-6 fs-16 ">Las Vegas</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">To</h6>
                                <p class="text-gray-6 fs-16 ">Newyork</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booked On</h6>
                                <p class="text-gray-6 fs-16 ">15 May 2024</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Departure Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Return Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Travellers</h6>
                                <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Stopping</h6>
                                <p class="text-gray-6 fs-16 ">1 Stop at Texas</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Extra Service Info</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Blankets & Pillows</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Meals Plan</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Lunch </span>
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Dinner</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Billing Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Name</h6>
                                <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Email</h6>
                                <p class="text-gray-6 fs-16 ">chrfo2356&#64;example.com</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Phone</h6>
                                <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Address</h6>
                                <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Order Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Order Id</h6>
                                <p class="text-primary fs-16 ">#45669</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Method</h6>
                                <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Status</h6>
                                <p class="text-success fs-16 ">Paid</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Date of Payment</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Tax</h6>
                                <p class="text-gray-6 fs-16 ">15% ($60)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Discount</h6>
                                <p class="text-gray-6 fs-16 ">20% ($15)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booking Fees</h6>
                                <p class="text-gray-6 fs-16 ">$25</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Total Paid</h6>
                                <p class="text-gray-6 fs-16 ">$6569</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a [routerLink]="routes.flightDetails" class="btn btn-md btn-primary">Book Again</a>
            </div>
        </div>
    </div>
</div>
<!-- /Completed Modal -->

<!-- Cancelled Modal -->
<div class="modal fade" id="cancelled" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Booking Info <span class="fs-14 fw-medium text-primary">#FB-1245</span></h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn-close text-dark"></a>
            </div>
            <div class="modal-body">
                <div class="upcoming-content">
                    <div class="upcoming-title mb-4 d-flex align-items-center justify-content-between p-3 rounded">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="me-2">
                                <img src="assets/img/flight/flight-01.jpg" alt="image" class="avatar avartar-md avatar-rounded">
                            </div>
                            <div>
                                <h6 class="mb-1">AstraFlight 215</h6>
                                <div class="title-list">
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><img src="assets/img/icons/airindia.svg" alt="image" class="avatar avatar-sm avatar-rounded me-2">Air India</p>
                                    <p class="d-flex align-items-center pe-2 me-2 border-end border-light fw-normal"><i class="isax isax-location5 me-2"></i>15/C Prince Dareen Road, New York</p>
                                    <p class="d-flex align-items-center pe-2 me-2  fw-normal"><span class="badge badge-warning badge-xs text-gray-9 fs-13 fw-medium me-2">5.0</span>(400 Reviews)</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10"><i class="fa-solid fa-circle fs-5 me-1"></i>Cancelled</span>
                        </div>
                    </div>
                    <div class="upcoming-details ">
                        <h6 class="mb-2">Booking Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">From</h6>
                                <p class="text-gray-6 fs-16 ">Las Vegas</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">To</h6>
                                <p class="text-gray-6 fs-16 ">Newyork</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booked On</h6>
                                <p class="text-gray-6 fs-16 ">15 May 2024</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Departure Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Return Date & Time</h6>
                                <p class="text-gray-6 fs-16 ">25 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Travellers</h6>
                                <p class="text-gray-6 fs-16 ">4 Adults, 2 Child</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Stopping</h6>
                                <p class="text-gray-6 fs-16 ">1 Stop at Texas</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Extra Service Info</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Blankets & Pillows</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Meals Plan</h6>
                        <div class="d-flex align-items-center">
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Lunch </span>
                            <span class="bg-light rounded-pill py-1 px-2 text-gray-6 fs-14 me-2">Dinner</span>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Billing Info</h6>
                        <div class="row">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Name</h6>
                                <p class="text-gray-6 fs-16 ">Chris Foxy</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Email</h6>
                                <p class="text-gray-6 fs-16 ">chrfo2356&#64;example.com</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Phone</h6>
                                <p class="text-gray-6 fs-16 ">+1 12656 26654</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Address</h6>
                                <p class="text-gray-6 fs-16 ">15/C Prince Dareen Road, New York</p>
                            </div>
                        </div>
                    </div>
                    <div class="upcoming-details">
                        <h6 class="mb-2">Order Info</h6>
                        <div class="row gy-3">
                            <div class="col-lg-3">
                                <h6 class="fs-14">Order Id</h6>
                                <p class="text-primary fs-16 ">#45669</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Method</h6>
                                <p class="text-gray-6 fs-16 ">Credit Card (Visa)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Payment Status</h6>
                                <p class="text-success fs-16 ">Paid</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Date of Payment</h6>
                                <p class="text-gray-6 fs-16 ">20 May 2024, 10:50 AM</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Tax</h6>
                                <p class="text-gray-6 fs-16 ">15% ($60)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Discount</h6>
                                <p class="text-gray-6 fs-16 ">20% ($15)</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Booking Fees</h6>
                                <p class="text-gray-6 fs-16 ">$25</p>
                            </div>
                            <div class="col-lg-3">
                                <h6 class="fs-14">Total Paid</h6>
                                <p class="text-gray-6 fs-16 ">$6569</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a [routerLink]="routes.flightDetails" data-bs-dismiss="modal" class="btn btn-md btn-primary">Reschedule</a>
            </div>
        </div>
    </div>
</div>
<!-- /Cancelled Modal -->

<!-- Booking Cancel -->
<div class="modal fade" id="cancel-booking">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-5">
                <form>
                    <div class="text-center">
                        <div class="mb-4">
                            <i class="isax isax-location-cross5 text-danger fs-40"></i>
                        </div>
                        <h5 class="mb-2">Are you sure you want to cancel booking?</h5>
                        <p class="mb-4 text-gray-9">Order ID : <span class="text-primary">#FB-1245</span></p>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Reason <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>    
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">No, Dont Cancel</a>
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Yes, Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
<!-- /Booking Cancel -->