    <!-- Breadcrumb -->
    <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">FAQ</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                            <li class="breadcrumb-item">Pages</li>
                            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="content">
        <div class="container">
            <!-- FAQ Section -->
            <div class="faq ">
                <div class="container">
                    <div class="faq-sec p-0">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="accordion " id="accordionFaq">
                                    <div class="accordion-item show  mb-3 pb-3 wow fadeInUp" data-wow-delay="0.2s">
                                        <h2 class="accordion-header">
											<button class="accordion-button" type="button" data-bs-toggle="collapse"
												data-bs-target="#faq-collapseOne" aria-expanded="false"
												aria-controls="faq-collapseOne">
												What types of tours do you offer?
											</button>
										</h2>
                                        <div id="faq-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p class="mb-0">We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                                <p>Popular destinations include Europe, Africa (e.g., Morocco), </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item  mb-3 wow fadeInUp" data-wow-delay="0.4s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#faq-collapsetwo" aria-expanded="false"
												aria-controls="faq-collapsetwo">
												Are the tours customizable?
											</button>
										</h2>
                                        <div id="faq-collapsetwo" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay="0.6s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#faq-collapsthree"
												aria-expanded="false" aria-controls="faq-collapsthree">
												What safety measures do you follow?
											</button>
										</h2>
                                        <div id="faq-collapsthree" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay="0.8s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#faq-collapsefour"
												aria-expanded="false" aria-controls="faq-collapsefour">
												How far in advance should I book?
											</button>
										</h2>
                                        <div id="faq-collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay="1.0s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#faq-collapsesix"
												aria-expanded="false" aria-controls="faq-collapsesix">
												What is your cancellation policy?
											</button>
										</h2>
                                        <div id="faq-collapsesix" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay="1.0s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#faq-collapseseven"
												aria-expanded="false" aria-controls="faq-collapseseven">
												Can I book flights, hotels, and car rentals together?
											</button>
										</h2>
                                        <div id="faq-collapseseven" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item  wow fadeInUp" data-wow-delay="1.0s">
                                        <h2 class="accordion-header">
											<button class="accordion-button collapsed" type="button"
												data-bs-toggle="collapse" data-bs-target="#faq-collapseeight"
												aria-expanded="false" aria-controls="faq-collapseeight">
												What is your cancellation policy?
											</button>
										</h2>
                                        <div id="faq-collapseeight" class="accordion-collapse collapse" data-bs-parent="#accordionFaq">
                                            <div class="accordion-body">
                                                <p>We offer a wide range of tours, including cultural, adventure, luxury, and customized itineraries.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /FAQ Section -->

            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="que-sec text-center">
                        <h4 class="mb-3">Have Any Other Questions?</h4>
                        <p class="mb-3">If you cannot find answer to your question in our FAQ, you can always contact us. We wil answer to you shortly!</p>
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="routes.contactUs" class="btn btn-primary d-flex align-items-center justify-content-center">Contact Us<i class="isax isax-arrow-right-3 ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Wrapper -->