   <!-- Breadcrumb -->
   <div class="breadcrumb-bar breadcrumb-bg-01 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">Blog Details</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="routes.index"><i class="isax isax-home5"></i></a></li>
                        <li class="breadcrumb-item">Pages</li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Wrapper -->
<div class="content">
    <div class="container">

        <!-- Blog Details -->
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="card blog-details mb-4 mb-lg-0">
                    <div class="card-body">
                        <div class="blog-content">
                            <div class="blog-image mb-3">
                                <img src="assets/img/blog/blog-sm-01.jpg" alt="image" class="img-fluid rounded">
                            </div>
                            <div class="d-flex  align-items-center flex-wrap row-gap-2 mb-3">
                                <a href="javascript:void(0);" class=" d-flex align-items-center fs-16 text-gray-9 pe-3 border-end me-3">
                                    <img src="assets/img/users/user-01.jpg" alt="Img" class="img-fluid avatar avatar-sm rounded-circle me-2"> Bryan Bradfield
                                </a>
                                <div class="pe-3 border-end me-3">
                                    <span class="d-flex align-items-center fs-16 text-gray-9 "><i class="isax isax-calendar-2 me-1"></i>14 May 2025</span>
                                </div>
                                <div>
                                    <span class="badge badge-sm badge-primary">Travels</span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <h2>The Ultimate Guide to Solo Travel: Tips for First-Time Travelers</h2>
                            </div>
                            <div class="mb-3">
                                <p class="text-gray-6">Solo travel can be an incredibly empowering and enriching experience, offering you the freedom to explore the world at your own pace and make personal connections with different cultures. However, if it’s your first
                                    time traveling solo, the idea can be both exciting and a bit intimidating. This guide provides essential tips to help you prepare for your adventure and make the most of your solo journey.</p>
                            </div>
                            <div class="mb-3">
                                <p class="text-gray-6">When traveling solo, it’s important to have a rough plan in place, especially if it’s your first time. Research your destination, book accommodations in advance, and have a basic itinerary. However, don’t over-plan!
                                    Leave some room for spontaneity so you can explore new opportunities and experiences that arise along the way.If you’re feeling anxious about traveling solo for the first time, consider starting with a short trip
                                    or visiting a destination known for being solo traveler-friendly. Many European cities, Southeast Asia, and parts of Latin America have well-trodden paths with plenty of resources for solo travelers.</p>
                            </div>
                            <div class="mb-3">
                                <p class="text-gray-6 d-flex align-items-center mb-2"> <span class="me-2"><img src="assets/img/icons/Polygon.svg" alt="Img" class="img-fluid"></span> Prioritize safety by booking your first night’s accommodation before you arrive.</p>
                                <p class="text-gray-6 d-flex align-items-center mb-2"> <span class="me-2"><img src="assets/img/icons/Polygon.svg" alt="Img" class="img-fluid"></span> Bring only essentials to make moving around easier and keep your hands free.</p>
                                <p class="text-gray-6 d-flex align-items-center "> <span class="me-2"><img src="assets/img/icons/Polygon.svg" alt="Img" class="img-fluid"></span> Have a small first-aid kit with basic supplies in case of minor injuries or health issues.</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="blog-image mb-3">
                                        <img src="assets/img/blog/blog-34.jpg" alt="image" class="img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="blog-image mb-3">
                                        <img src="assets/img/blog/blog-35.jpg" alt="image" class="img-fluid rounded">
                                    </div>
                                </div>
                            </div>
                            <div class="pb-3 border-bottom">
                                <p class="fs-14 text-gray-6">Solo travel is a fantastic way to grow, explore, and discover new aspects of yourself and the world. While it may feel daunting at first, with the right preparation, mindset, and a bit of courage, it can become one
                                    of the most fulfilling experiences of your life. So pack your bags, take that leap, and embrace the adventure that awaits!</p>
                            </div>
                            <div class="mt-3 pb-3 border-bottom d-flex flex-wrap align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <p class="fs-16 text-gray-9 mb-0 me-2">Tags :</p>
                                    <a href="javascript:void(0);" class="badge badge-sm badge-secondary me-2">Travels</a>
                                    <a href="javascript:void(0);" class="badge badge-sm badge-secondary me-2">Tips</a>
                                    <a href="javascript:void(0);" class="badge badge-sm badge-secondary">Guide</a>
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="fs-16.text-gray-9 mb-0 me-2">Share On :</p>
                                    <a href="javascript:void(0);" class="me-2"><img src="assets/img/icons/facebook.svg" alt="image" class="img-fluid"></a>
                                    <a href="javascript:void(0);" class="me-2"><img src="assets/img/icons/insta.svg" alt="image" class="img-fluid"></a>
                                    <a href="javascript:void(0);" class="me-2"><img src="assets/img/icons/twitter.svg" alt="image" class="img-fluid"></a>
                                    <a href="javascript:void(0);"><img src="assets/img/icons/whatsapp.svg" alt="image" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="border border-light br-10 p-3 d-md-flex align-items-center">
                                    <div class="blog-user-image me-md-3 mb-3 mb-md-0 flex-shrink-0">
                                        <img src="assets/img/users/user-01.jpg" alt="image" class="img-fluid rounded">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="fs-14 text-primary mb-1">About Author</h6>
                                        <p class="fs-16 text-gray-6">Hi, I’m Bryan Bradfield, and I’ve been hooked on solo travel ever since I took my first trip alone a few years ago. What started as a nerve-wracking experience quickly turned into a life-changing adventure,
                                            and I’ve never looked back. Traveling solo has taught me so much about myself, from gaining confidence in navigating new places to embracing spontaneity.</p>
                                    </div>
                                </div>
                            </div>
                            <h6>Comments</h6>
                            <div class="my-3">
                                <div class="border border-light rounded p-3">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/img/users/user-21.jpg" alt="image" class="img-fluid rounded-circle avatar avatar-md me-2">
                                            <div>
                                                <h6>Charles Lozano</h6>
                                                <span class="fs-14 fw-normal text-gray-6">a week ago</span>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="fs-14 fw-medium text-dark d-flex align-items-center"> <i class="isax isax-back-square me-1"></i> Reply</a>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="fs-14 text-gray-6">Great tips for solo travelers! Love how you capture the freedom and self-growth that comes with exploring new places alone. Super inspiring!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="border border-light rounded p-3">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex align-items-center">
                                            <img src="assets/img/users/user-42.jpg" alt="image" class="img-fluid rounded-circle avatar avatar-md me-2">
                                            <div>
                                                <h6>Dennis Cheng</h6>
                                                <span class="fs-14 fw-normal text-gray-6">a week ago</span>
                                            </div>
                                        </div>
                                        <div>
                                            <a href="javascript:void(0);" class="fs-14 fw-medium text-dark d-flex align-items-center"> <i class="isax isax-back-square me-1"></i> Reply</a>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p class="fs-14 text-gray-6">Your solo travel guide is incredibly helpful! The practical tips on safety and planning give me the confidence to explore new destinations on my own.</p>
                                    </div>
                                </div>
                            </div>
                            <h6 class="mb-3">Write A Comment</h6>
                            <div>
                                <form >
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail2" class="form-label">Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="exampleInputEmail2">

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label class="form-label">Message</label>
                                                <textarea class="form-control" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="d-flex justify-content-end">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary">Post Comment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 ">
                <div class="theiaStickySidebar">

                    <div class="card mb-3 ">
                        <div class="card-body">
                            <div class="pb-3 border-bottom mb-3">
                                <h5 class="d-flex align-items-center "><span class="me-1 fs-16"><i class="isax isax-search-normal text-primary"></i></span> Search</h5>
                            </div>
                            <div class="blog-search">
                                <div class="search-content">
                                    <div class="search-feild position-relative">
                                        <span><i class="isax isax-search-normal"></i></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header border-0 pb-0">
                            <div class="pb-3 border-bottom">
                                <h5><i class="isax isax-candle text-primary fs-16 me-2"></i>Categories</h5>
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="fw-medium mb-0"><a href="javascript:void(0);">Travel</a></h6>
                                <p>(12)</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="fw-medium mb-0"><a href="javascript:void(0);">Guide</a></h6>
                                <p>(10)</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="fw-medium mb-0"><a href="javascript:void(0);">Rental</a></h6>
                                <p>(14)</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="text-dark fw-medium mb-0"><a href="javascript:void(0);">Adventure</a></h6>
                                <p>(16)</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h6 class="fw-medium mb-0"><a href="javascript:void(0);">Vacation</a></h6>
                                <p>(20)</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="fw-medium mb-0"><a href="javascript:void(0);">Tips</a></h6>
                                <p>(15)</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Related Posts -->
                    <div class="card mb-3">
                        <div class="card-header border-0 pb-0">
                            <div class="pb-3 border-bottom">
                                <h5><i class="ti ti-brand-blogger text-primary fs-16 me-2"></i>Related Posts</h5>
                            </div>
                        </div>
                        <div class="card-body pt-3">
                            <div class="blog-post mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex">
                                        <a [routerLink]="routes.blogDetails" class="avatar avatar-xxl me-2">
                                            <img src="assets/img/blog/blog-09.jpg" class="rounded" alt="Img">
                                        </a>
                                    </div>
                                    <div>
                                        <a [routerLink]="routes.blogDetails" class="two-line-ellipsis fs-14 fw-medium">How to Travel on a Budget: Affordable Destinations & Tips</a>
                                        <div class="d-flex align-items-center mt-2">
                                            <a href="javascript:void(0);" class="d-flex align-items-center border-end pe-2 me-2">
                                                <span class="avatar avatar-xs me-1">
                                                    <img src="assets/img/users/user-01.jpg" class="blog-user-img rounded-circle border border-light" alt="img">
                                                </span>
                                                <p class="fs-14 text-truncate">Bryan</p>
                                            </a>
                                            <p class="fs-14 text-truncate"><i class="isax isax-calendar-2 me-2"></i>14 May 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex">
                                        <a [routerLink]="routes.blogDetails" class="avatar avatar-xxl me-2">
                                            <img src="assets/img/blog/blog-05.jpg" class="rounded" alt="Img">
                                        </a>
                                    </div>
                                    <div>
                                        <a [routerLink]="routes.blogDetails" class="two-line-ellipsis fs-14 fw-medium">The Ultimate Guide to Solo Travel: Tips for First-Time Travelers</a>
                                        <div class="d-flex align-items-center mt-2">
                                            <a href="javascript:void(0);" class="d-flex align-items-center border-end pe-2 me-2">
                                                <span class="avatar avatar-sm me-1">
                                                <img src="assets/img/users/user-03.jpg" class="blog-user-img rounded-circle border border-light" alt="img">
                                            </span>
                                                <p class="fs-14 text-truncate">Michell</p>
                                            </a>
                                            <p class="fs-14 text-truncate"><i class="isax isax-calendar-2 me-2"></i>14 May 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-post">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex">
                                        <a [routerLink]="routes.blogDetails" class="avatar avatar-xxl me-2">
                                            <img src="assets/img/blog/blog-06.jpg" class="rounded" alt="Img">
                                        </a>
                                    </div>
                                    <div>
                                        <a [routerLink]="routes.blogDetails" class="two-line-ellipsis fs-14 fw-medium">Top 10 Breath taking Destinations You Must Visit in 2025</a>
                                        <div class="d-flex align-items-center mt-2">
                                            <a href="javascript:void(0);" class="d-flex align-items-center border-end pe-2 me-2">
                                                <span class="avatar avatar-xs me-1">
                                                    <img src="assets/img/users/user-04.jpg" class="blog-user-img rounded-circle border border-light" alt="img">
                                                </span>
                                                <p class="fs-14 text-truncate">Bafield</p>
                                            </a>
                                            <p class="fs-14 text-truncate"><i class="isax isax-calendar-2 me-2"></i>14 May 2025</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Related Posts -->
    
                    <div class="card mb-0">
                        <div class="card-header border-0 pb-0">
                            <div class="pb-3 border-bottom">
                                <h5><i class="isax isax-tag text-primary fs-16 me-2"></i>Popular Tags</h5>
                            </div>
                        </div>
                        <div class="card-body pt-3 pb-2">
                            <div class="d-flex align-items-center flex-wrap category-tag">
                                <a href="javascript:void(0);" class="badge badge-md fw-normal me-2 mb-2">Luxury</a>
                                <a href="javascript:void(0);" class="badge badge-md fw-normal me-2 mb-2">Travel</a>
                                <a href="javascript:void(0);" class="badge badge-md fw-normal me-2 mb-2">Nature</a>
                                <a href="javascript:void(0);" class="badge badge-md fw-normal mb-2">Photography</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Blog Details -->

    </div>
</div>
<!-- /Page Wrapper -->